{% extends 'hr_report_base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}
{% load arithmatic %}

{% block report_header %}{% endblock %}

{% block report_header_table %}{% endblock %}

{% block report_body %}
    <h1>{{ report_title }}</h1>
    <h5>{% trans 'Date' %} {% trans 'Range' %} : {{ from_date }} {% trans 'to' %} {{ to_date }}</h5>

    {#    Office detail block#}
    <h5>{% trans 'Office' %} {% trans 'Name' %} : {{ branch.name }}</h5>
    <h5>{% trans 'Office' %} {% trans 'Address' %} : {{ branch.address }}</h5>
    <h5>{% trans 'Office' %} {% trans 'Code' %} : {{ branch.code }}</h5>
    {#    End Office detail block#}

    
{% endblock %}
{% block report_main_table %}
    {#    Detail table here #}
    {% for table in tables %}
        <table class="table table-bordered">
            <thead>
            {% if distinguish_entry %}
                <tr>
                    <td colspan="4">{% trans 'Range' %}: {{ table.payment_detail.date_range.0 }} {% trans 'To' %} {{ table.payment_detail.date_range.1 }}</td>
                    <td colspan="4">{% trans 'Entry' %} {% trans 'Date' %}: {{ table.payment_detail.entry_datetime.0 }}, {% trans 'Entry' %} {% trans 'Time' %}: {{ table.payment_detail.entry_datetime.1 }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>{% trans 'SN' %}</td>
                <td>{% trans 'Designation' %}</td>
                <td>{% trans 'Employee Name' %}</td>
                <td>{% trans 'Salary Scale' %}</td>
                <td>{% trans 'Grade' %}</td>
                <td>{% trans 'PF Addition' %}</td>
                <td>{% trans 'Bima Addition' %}</td>
                <td>{% trans 'Chad Kharcha' %}</td>
                <td>{% trans 'Total Salary' %}</td>
                <td>{% trans 'Total Allowance' %}</td>
                <td>{% trans 'Salary Including Allowance' %}</td>
                <td>{% trans 'PF Deduction' %}</td>
                <td>{% trans 'Na La Kosh Deduction' %}</td>
                <td>{% trans 'Bima Deduction' %}</td>
                <td>{% trans 'PF Loan Deduction' %}</td>
                <td>{% trans 'Social Security Tax' %}</td>
                <td>{% trans 'Remuneration Tax' %}</td>
                <td>{% trans 'Total Deduction' %}</td>
                <td>{% trans 'Total Income' %}</td>
            </tr>
            </thead>

            <tbody>
            {% for row in table.payment_detail.data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.designation }}</td>
                    <td>{{ row.employee_name }}</td>
                    <td>{{ row.salary_scale }}</td>
                    <td>{{ row.grade_amount }}</td>
                    <td>{{ row.pf_addition_in_deduction }}</td>
                    <td>{{ row.bima_addition_in_deduction }}</td>
                    <td>{{ row.festival_expenditure_amount }}</td>
                    <td>{{ row.total_after_addition }}</td>
                    <td>{{ row.total_allowance }}</td>
                    <td>{{ row.total_after_allowance_addition }}</td>
                    <td>{{ row.pf_deduction }}</td>
                    <td>{{ row.na_la_ko }}</td>
                    <td>{{ row.bima }}</td>
                    <td>{{ row.pf_loan }}</td>
                    <td>{{ row.social_security_tax }}</td>
                    <td>{{ row.remuneration_tax }}</td>
                    <td>{{ row.total_deduction_inc_tax }}</td>
                    <td>{{ row.paid_amount }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">{% trans 'Total' %}</td>
                <td>{{ table.payment_detail.totals.salary_scale }}</td>
                <td>{{ table.payment_detail.totals.grade_amount }}</td>
                <td>{{ table.payment_detail.totals.pf_addition_in_deduction }}</td>
                <td>{{ table.payment_detail.totals.bima_addition_in_deduction }}</td>
                <td>{{ table.payment_detail.totals.festival_expenditure_amount }}</td>
                <td>{{ table.payment_detail.totals.total_after_addition }}</td>
                <td>{{ table.payment_detail.totals.total_allowance }}</td>
                <td>{{ table.payment_detail.totals.total_after_allowance_addition }}</td>
                <td>{{ table.payment_detail.totals.pf_deduction }}</td>
                <td>{{ table.payment_detail.totals.na_la_ko }}</td>
                <td>{{ table.payment_detail.totals.bima }}</td>
                <td>{{ table.payment_detail.totals.pf_loan }}</td>
                <td>{{ table.payment_detail.totals.social_security_tax }}</td>
                <td>{{ table.payment_detail.totals.remuneration_tax }}</td>
                <td>{{ table.payment_detail.totals.total_deduction_inc_tax }}</td>
                <td>{{ table.payment_detail.totals.paid_amount }}</td>
            </tr>
            </tbody>


        </table>
    {% endfor %}

    {#    End Detail table here #}
{% endblock %}
{% block report_footer %}

    {#    This is report footer#}
    <div class="row">
        <div class="col-lg-4">
            <p>{% trans 'Creator Signatute' %}</p>
            <p>{% trans 'Date' %}: ________</p>
        </div>
        <div class="col-lg-4">
            <p>{% trans 'Head Accountant Signature' %}</p>
            <p>{% trans 'Date' %}: _________</p>
        </div>
        <div class="col-lg-4">
            <p>{% trans 'Approved by Signature' %}</p>
            <p>{% trans 'Date' %}: __________</p>
        </div>
    </div>
    {#    End This is report footer#}
{% endblock %}