{% extends 'hr_report_base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}
{% load arithmatic %}

{% block report_header %}{% endblock %}

{% block report_body %}
    <h1>{{ report_title }}</h1>
    <h5>{% trans 'Date' %} {% trans 'Range' %} : {{ from_date }} {% trans 'to' %} {{ to_date }}</h5>

    {#    Office detail block#}
    <h5>{% trans 'Office' %} {% trans 'Name' %} : {{ branch.name }}</h5>
    <h5>{% trans 'Office' %} {% trans 'Address' %} : {{ branch.address }}</h5>
    <h5>{% trans 'Office' %} {% trans 'Code' %} : {{ branch.code }}</h5>
    {#    End Office detail block#}

    {#    Bank Detail Block#}
    <h5>{% trans 'Amount' %} {% trans 'Deposit Bank Name' %} : _________</h5>
    <h5>{% trans 'Amount' %} {% trans 'Deposit Bank Address' %} : _________</h5>
    <h5>{% trans 'Amount' %} {% trans 'Deposited' %} : _________</h5>
    {#    End Bank Detail Block#}

    {#    Message text#}
    <h5>{% trans 'Dear PF' %}</h5>
    <h5>{% trans 'Tridevi Marg, Thamel, Kathmandu' %}</h5>
    <p>{% trans 'PF deduction of this branch of this detail has been deposited to the speciified bank above' %}</p>
    {#    End Messege text#}
{% endblock %}

{% block report_footer %}

    {#    This is report footer#}
    <div class="row">
        <div class="col-lg-4">
            <p>{% trans 'Creator Signatute' %}</p>
            <p>{% trans 'Date' %}: ________</p>
        </div>
        <div class="col-lg-4">
            <p>{% trans 'Head Accountant Signature' %}</p>
            <p>{% trans 'Date' %}: _________</p>
        </div>
        <div class="col-lg-4">
            <p>{% trans 'Approved by Signature' %}</p>
            <p>{% trans 'Date' %}: __________</p>
        </div>
    </div>
    {#    End This is report footer#}
{% endblock %}