{% load filters i18n %}

<div>
    <a href="{% url 'aid_list' project.id %}">{% trans 'Aids' %}</a>
</div>

<div>
    <a href="{% url 'expense_category_list' project.id %}">{% trans 'Expense Categories' %}</a>
</div>

<div>
    <a href="{% url 'expense_list' project.id %}">{% trans 'Expenses' %}</a>
</div>

<div>
{#    <a href="{% url 'imprest_ledger' project.project_fy.id %}">{% trans 'Imprest Ledger' %}</a>#}
</div>

<div>
    <a href="{% url 'application' project.project_fy.id %}">{% trans 'Applications (Notes to Account 1)' %}</a>
</div>