{% extends base_template %}
{% load i18n %}

{% block title %}{{ scenario }} {% trans 'Target Group' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_target_groups" %}">{% trans 'Target Groups' %}</a></li>
    <li><span>{% trans scenario %} {% trans 'Target Group' %}</span></li>
{% endblock %}

{% block content %}

    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post">
        {% csrf_token %}
        <div class="well">
        {{ form.as_p }}
        </div>
            <div class="span12">
                <button type="submit" value="Submit" class="btn btn-info btn-raised btn-lg">
                    {% trans 'Submit' %}</button>
                {% if scenario == 'Update' %}
                    <a class="btn btn-danger btn-raised btn-lg"
                       href="{% url 'delete_target_group' form.instance.id %}">{% trans 'Delete' %}!</a>
                {% endif %}
            </div>
    </form>

    {% if scenario == 'Update' %}
        <h1>{% trans "Trainings" %}</h1>
        <div class="well">
        {% for training in  form.instance.trainings.all %}
            <td><a href="{% url 'update_training' training.id %}">{{ training.title }}</a></td><br>
        {% endfor %}
        {% if form.instance.trainings.count < 1 %}
            {% trans "No trainings for this target group!" %}"
        {% endif %}
        </div>
    {% endif %}

{% endblock %}