{% extends "training_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block title %} {% trans 'Training' %}{% endblock %}


{% block head_end %}
    {#    <script src="{% static 'js/ils/outgoing.js' %}"></script>#}

{% endblock %}

{% block content %}
    <div class="well"> 
    <div class="row">
        <div class="col-sm-12">
    <div class="dashboard">
        {% ifusergroup 'Trainer' %}

            <div>
                <a href="{% url 'list_trainings' %}">
                    <img src="{% static 'img/icons/training.png' %}">
                    <b>{% trans "Trainings" %}</b></a>
            </div>

            <div>
                <a href="{% url 'list_resource_persons' %}">
                    <img src="{% static 'img/icons/trainer.png' %}">
                    {% trans "Resource Persons" %}</a>
            </div>

            <div>
                <a href="{% url 'list_participants' %}">
                    <img src="{% static 'img/icons/students.png' %}">
                    {% trans "Participants" %}</a>
            </div>
            <div>
                <a href="{% url 'list_organizations' %}">
                    <img src="{% static 'img/icons/organization.png' %}">
                    {% trans "Organizations" %}</a>
            </div>


            <div>
                <a href="{% url 'list_files' %}">
                    <img src="{% static 'img/icons/file.png' %}">
                    {% trans "Files" %}</a>
            </div>

            <div>
                <a href="{% url 'list_training_categories' %}">
                    <img src="{% static 'img/icons/category.png' %}">
                    {% trans "Categories" %}</a>
            </div>
            <div>
                <a href="{% url 'list_target_groups' %}">
                    <img src="{% static 'img/icons/target.png' %}">
                    {% trans "Target Groups" %}</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'add_participant' %}">
                    <img src="{% static 'img/icons/students.png' %}">
                    {% trans "Register" %}</a>
            </div>
        {% endifusergroup %}

    </div>
            
        </div>
    </div>   

</div>

{% endblock %}