{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <script src="{% static 'js/vendors/jquery-formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.allowance-form').formset({
                prefix: '{{ allowance_formset.prefix }}'
            });
        });
    </script>
{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}
{% if obj_id %}
    <form method="POST" action="{% url 'edit_allowance' obj_id %}">
{% else %}
    <form method="POST" action="{% url 'add_allowance' %}">
{% endif %}
    {% csrf_token %}
    <div class="row">
        {{ allowance_name_form.as_table }}
    </div>
    <div class="allowance-formset">
        {% for allowance_form in allowance_formset %}
            <div class="row allowance-form">
                {{ allowance_form.as_table }}
                {% if allowance_form.instance.pk %}{{ goal_form.DELETE }}{% endif %}
            </div>
        {% endfor %}
    </div>
    {{ allowance_formset.management_form }}
    <input type="submit" value="Save"></input>

</form>
    
    
{% endblock %}