{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <script src="{% static 'js/vendors/jquery-formset.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript">
        $(function () {
            $('.deduction-form').formset({
                prefix: '{{ deduction_formset.prefix }}'
            });
        });
    </script>
{% endblock %}
{% block title %}
    {% trans 'Add or Remove Deductions' %}
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
        <li><a href="{% url 'payroll_entry' %}">{% trans 'Payroll Entry' %}</a>
        <li><a href="{% url 'entry_list' %}">{% trans 'Entry List' %}</a>

{% endblock %}
{% block breadcrumbs_before_print %}
{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}

<form method="POST" action="{% url 'deduction' %}">

    {% csrf_token %}

    <div class="deduction-formset well">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% with firstform=deduction_formset.0 %}
                        <th><label>{{ firstform.name.label }}</label></th>
                        <th><label>{{ firstform.description.label }}</label></th>
                        <th><label>{{ firstform.priority.label }}</label></th>
                        <th><label>{{ firstform.permanent_multiply_rate.label }}</label></th>
                        <th><label>{{ firstform.deduct_type.label }}</label></th>
                        <th><label>{{ firstform.amount.label }}</label></th>
                        <th><label>{{ firstform.amount_rate.label }}</label></th>
                        <th><label>{{ firstform.amount_editable.label }}</label></th>
                        <th><label>{{ firstform.add2_init_salary.label }}</label></th>
                        <th><label>{{ firstform.is_tax_free.label }}</label></th>
                        <th><label>{{ firstform.is_optional.label }}</label></th>
                        <th><label>Remove</label></th>
                    {% endwith %}

                </tr>
            </thead>
            <tbody>
                {% for deduction_form in deduction_formset %}
                    <tr class="deduction-form">
                        {% for hidden in deduction_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <td>
                            {{ deduction_form.name.errors }}
                            {{ deduction_form.name }}
                        </td>
                        <td>
                            {{ deduction_form.description.errors }}
                            {{ deduction_form.description }}
                        </td>
                        <td>
                            {{ deduction_form.priority.errors }}
                            {{ deduction_form.priority }}
                        </td>
                        <td>
                            {{ deduction_form.permanent_multiply_rate.errors }}
                            {{ deduction_form.permanent_multiply_rate }}
                        </td>
                        <td>
                            {{ deduction_form.deduct_type.errors }}
                            {{ deduction_form.deduct_type }}
                        </td>
                        <td>
                            {{ deduction_form.amount.errors }}
                            {{ deduction_form.amount }}
                        </td>
                        <td>
                            {{ deduction_form.amount_rate.errors }}
                            {{ deduction_form.amount_rate }}
                        </td>
                        <td>
                            {{ deduction_form.amount_editable.errors }}
                            {{ deduction_form.amount_editable }}
                        </td>
                        <td>
                            {{ deduction_form.add2_init_salary.errors }}
                            {{ deduction_form.add2_init_salary }}
                        </td>
                        <td>
                            {{ deduction_form.is_tax_free.errors }}
                            {{ deduction_form.is_tax_free }}
                        </td>
                        <td>
                            {{ deduction_form.is_optional.errors }}
                            {{ deduction_form.is_optional }}
                        </td>
                        <td>
                            {% if deduction_form.instance.pk %}{{ deduction_form.DELETE }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ deduction_formset.management_form }}
    <input class="btn btn-raised btn-primary" type="submit" value="Save">

</form>

    
{% endblock %}