{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <script src="{% static 'js/vendors/jquery-formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.employee-account-form').formset({
                prefix: '{{ employee_account_formset.prefix }}'
            });
        });
    </script>
{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}
{% if obj_id %}
    <form method="POST" action="{% url 'edit_employee' obj_id %}">
{% else %}
    <form method="POST" action="{% url 'employee_add' %}">
{% endif %}
    {% csrf_token %}
    <div class="row">
        {{ employee_form.as_table }}
    </div>
    <div class="employee-accouts-form">
        {% for employee_account_form in employee_account_formset %}
            <div class="row employee-account-form">
                {{ employee_account_form.as_table }}
                {% if employee_account_form.instance.pk %}{{ goal_form.DELETE }}{% endif %}
            </div>
        {% endfor %}
    </div>
    {{ employee_account_formset.management_form }}
    <input type="submit" value="Save"></input>

</form>
    
    
{% endblock %}