{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <script src="{% static 'js/vendors/jquery-formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.employee-incentive-form').formset({
                prefix: '{{ employee_incentive_formset.prefix }}'
            });
        });
    </script>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
        <li><a href="{% url 'payroll_entry' %}">{% trans 'Payroll Entry' %}</a>
        <li><a href="{% url 'entry_list' %}">{% trans 'Entry List' %}</a>
        <li><a href="{% url 'list_employee' %}">{% trans 'Employee List' %}</a>

{% endblock %}
{% block breadcrumbs_before_print %}
{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}
{% if obj_id %}
    <form method="POST" action="{% url 'edit_employee' obj_id %}" class="form-horizontal">
{% else %}
    <form method="POST" action="{% url 'employee_add' %}" class="form-horizontal">
{% endif %}
    {% csrf_token %}
    <div class="row">
        {{ employee_form.as_ul }}
    </div>
    <div class="employee-incentives-form">
        {% for employee_incentive_form in employee_incentive_formset %}
            <div class="row employee-incentive-form">
                {{ employee_incentive_form.as_table }}
                {% if employee_incentive_form.instance.pk %}{{ employee_incentive_form.DELETE }}{% endif %}
            </div>
        {% endfor %}
    </div>
    {{ employee_incentive_formset.management_form }}
    <input type="submit" value="Save"></input>

</form>
    
    
{% endblock %}