{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}

{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
        <li><a href="{% url 'payroll_entry' %}">{% trans 'Payroll Entry' %}</a>
        <li><a href="{% url 'entry_list' %}">{% trans 'Entry List' %}</a>

{% endblock %}
{% block breadcrumbs_before_print %}
{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}
    <table class="table table-striped" >
        <tr>
            <th>{% trans 'Employee' %}</th>
            <th>{% trans 'Employee Designation' %}</th>
            <th>{% trans 'Employee Grade' %}</th>
            <th>{% trans 'Working Branch' %}</th>
            <th>{% trans 'Employee Sex' %}</th>
            <th>{% trans 'Marital Status' %}</th>
            <th>{% trans 'Is Permanent' %}</th>
            <th>{% trans 'Controls' %}</th>
        </tr>
        {% for obj in objects %}
            <tr>
                <td><a href={% url 'edit_employee' obj.id %}>{{ obj }}</a></td>
                <td>{{ obj.designation }}</td>
                <td>{{ obj.designation.grade }}</td>
                <td>{{ obj.working_branch.name }}</td>
                <td>{{ obj.sex }}</td>
                <td>{{ obj.marital_status }}</td>
                <td>{{ obj.is_permanent }}</td>
                {% if obj.is_active %}
                    <td><a href={% url 'toggle_employee_activeness' obj.id %}><button class="btn btn-raised btn-danger" type="button">{% trans 'Deactivate' %}</button></a></td>
                {% else %}
                    <td><a href={% url 'toggle_employee_activeness' obj.id %}><button class="btn btn-raised btn-primary" type="button">{% trans 'Activate' %}</button></a></td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
<a href={% url 'add_employee' %}><input class="btn btn-raised btn-primary" type="button" value="Add New Employee"></a>
    
    
{% endblock %}