{% extends 'hr_base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors/nepali.datepicker.v2.1.min.css' %}">
    <script src="{% static 'js/vendors/knockout-mapping-plugin.js' %}"></script>
    <script src="{% static 'js/vendors/nepali.datepicker.v2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap-datepicker.js' %}"></script>

    <script src="{% static 'js/hr/validity_vm.js' %}"></script>
    <script src="{% static 'js/hr/grades_scale.js' %}"></script>
    <script src="{% static 'js/hr/validity_modal.js' %}"></script>

    <script>
        $(document).ready(function () {
            vm = new gradeScale.vm();
            console.log(vm);
            ko.applyBindings(vm);
        });

    </script>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'payroll_entry' %}">{% trans 'Payroll Entry' %}</a>
    <li><a href="{% url 'entry_list' %}">{% trans 'Entry List' %}</a>

{% endblock %}
{% block breadcrumbs_before_print %}
    {#    <li>#}
    {#    </li>#}
{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block content %}

    <div class="col-lg-12 well">
        <div class="col-lg-8">
            <legend>{% trans "Employee Grade Scales" %}</legend>
        </div>
        <div class="input-group col-lg-4">
            <select class="form-control" aria-describedby="basic-addon2" data-bind="
                options : available_scale_validities,
                optionsText: function(item){
                    return 'Valid From: ' + item.valid_from()
                },
                value: selected_validity,
                optionsCaption: 'Select Grade Scale Validity...'">
            </select>
        <span class="input-group-btn">
            <button type="button" data-bind="click: validity_add" class="btn btn-raised btn-primary" aria-label="Add Validity">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <!-- ko if: selected_validity() -->
            <button type="button" data-bind="click: validity_update" class="btn btn-raised btn-primary" aria-label="Update Validity">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <!-- /ko -->
        </span>
        </div>
    </div>

{#    This is validity Modal#}
    <validity-modal params="{
        show_modal: show_validity_modal,
        form_vm: validity_modal_form,
        modal_name: 'Grade Scale Validity'
    }">
    <form>
        <div class="input-group">
            <label class="form-control" >Valid From: </label>
            <input class="form-control" data-bind="value: valid_from" type="text">
            <label class="form-control">Note: </label>
            <input class="form-control" data-bind="value: note" type="text">
            <!-- ko if: typeof(id()) == 'undefined' -->
            <input type="button" class="btn btn-raised btn-primary" value="Save" data-bind="click: save">
            <!-- /ko -->
            <!-- ko if: typeof(id()) != 'undefined' -->
            <input type="button" class="btn btn-raised btn-primary" value="Update" data-bind="click: update">
            <input type="button" class="btn btn-raised btn-danger" value="Delete" data-bind="click: _delete">
            <!-- /ko -->
        </div>
    </form>

    </validity-modal>
{#    End This is validity Modal#}


{% endblock %}