{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{#{% block breadcrumbs %}#}
{#    {{ block.super }}#}
{#    <a href="{% url 'training_index' %}">{% trans 'Human Resource' %}</a>#}
{#{% endblock %}#}

{% block head_end %}
    <link rel="stylesheet" href="{% static 'hr/css/hr_custom.css' %}">
    <link rel="stylesheet" href="{% static 'hr/css/plugins/toastr/toastr.css' %}">
    <script src="{% static 'hr/js/plugins/toastr/toastr.js' %}"></script>
    <script src="{% static 'hr/js/plugins/blockUI/jquery.blockUI.js' %}"></script>
    {#    TODO make below cdn to local#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.js"></script>
    <script src="{% static 'hr/js/App.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'payroll_index' %}">{% trans 'Payroll' %}</a>
    </li>
{% endblock %}

{% block calendar %}
{% endblock %}