{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{#{% block breadcrumbs %}#}
{#    {{ block.super }}#}
{#    <a href="{% url 'training_index' %}">{% trans 'Human Resource' %}</a>#}
{#{% endblock %}#}

{% block head_end %}
    <link rel="stylesheet" href="{% static 'css/hr/plugins/toastr/toastr.css' %}">
    <script src="{% static 'js/hr/plugins/toastr/toastr.js' %}"></script>
    <script src="{% static 'js/hr/plugins/blockUI/jquery.blockUI.js' %}"></script>
    <script src="{% static 'js/hr/App.js' %}"></script>
{% endblock %}