{% extends "hr_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block title %} {% trans 'PayRoll' %}{% endblock %}


{% block head_end %}
    {#    <script src="{% static 'js/ils/outgoing.js' %}"></script>#}

{% endblock %}

{% block content %}
    <div class="well">
        <div class="link-group">
            <h3>{% trans 'Payroll' %}</h3>

            <div>
                <a href="{% url 'payroll_entry' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Generate Payroll" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'entry_list' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Payroll Entry List" %}</strong></h5></a>
            </div>
        </div>
        <div class="link-group">
            <h3>{% trans 'Employee' %}</h3>
            <div>
                <a href="{% url 'employee_grade_group' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Employee Grade Group" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'employee_grade' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Employee Grade" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'employee_designation' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Designation Entry" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'add_employee' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Employee Add" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'list_employee' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Employee List" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'grade-scale-entry' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Grade Scale Entry" %}</strong></h5></a>
            </div>

            <div>
                <a href="#">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Import Existing Employee" %}</strong></h5></a>
            </div>

            <div>
                <a href="{% url 'facility_curd' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Add Employee Facility" %}</strong></h5></a>
            </div>

        </div>
        <div class="link-group">
            <h3>{% trans 'Allowances/ Incentives and Deductions' %}</h3>

            <div>
                <a href="{% url 'add_allowance' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Allowance Add" %}</strong></h5></a>
            </div>

            <div>
                <a href="{% url 'incentivename_curd' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Incentive Name Entry" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'deduction_name' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Deduction Name Entry" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'deduction' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Deduction Detail Entry" %}</strong></h5></a>
            </div>
        </div>
        <div class="link-group">
            <h3>{% trans 'Tax' %}</h3>
            <div>
                <a href="{% url 'taxdeduction_list' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Tax Deduction List" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'list_tax_scheme' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Tax Scheme List" %}</strong></h5></a>
            </div>
        </div>

        <div class="link-group">
            <h3>{% trans 'Report' %}</h3>

            <div>
                <a href="{% url 'get_report' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Generate" %} {% trans "Report" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'list_report_setting' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Report" %} {% trans "Settings" %} {% trans "List" %}</strong></h5></a>
            </div>
        </div>
        <div class="link-group">
            <h3>{% trans 'Branch' %} {% trans 'and' %} {% trans 'Accountant' %}</h3>

            <div>
                <a href="{% url 'branch_add' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Add" %} {% trans "Branch" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'branch_list' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "List" %} {% trans "Branch" %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'payroll_accountant_add' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Add" %} {% trans "Payroll" %} {% trans 'Accountant' %}</strong></h5></a>
            </div>
            <div>
                <a href="{% url 'payroll_accountant_list' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "List" %} {% trans "Payroll" %} {% trans 'Accountant' %}</strong></h5></a>
            </div>
        </div>

        <div class="link-group">
            <h3>{% trans 'Pro Tempore' %}</h3>

            <div>
                <a href="{% url 'protempore_list' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Pro Tempore" %} {% trans "List" %}</strong></h5></a>
            </div>

        </div>
        <div class="link-group">
            <h3>{% trans 'Payroll' %} {% trans 'Configuration' %}</h3>

            <div>
                <a href="{% url 'payroll_config' %}">
                    <img src="{% static 'img/icons/training.png' %}"><br>
                    <h5><strong>{% trans "Payroll" %} {% trans "Configuration" %}</strong></h5></a>
            </div>

        </div>
    </div>
{% endblock %}