{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors/nepali.datepicker.v2.1.min.css' %}">
    <script src="{% static 'js/vendors/knockout-mapping-plugin.js' %}"></script>
    <script src="{% static 'js/vendors/nepali.datepicker.v2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/hr/hr.js' %}"></script>
    <script>
        ko_data = {{ko_data|jsonify}};
    </script>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
        <li><a href="{% url 'entry_list' %}">{% trans 'Entry List' %}</a>

{% endblock %}
{% block breadcrumbs_before_print %}
{% endblock %}

{% block alert %}
    <!-- ko foreach: messages -->
        <div class="row">
            <span class="alert alert-warning pull-right" role="alert" >
                <span  class="font-weight-bold text-info" data-bind="text: $data"></span>
                <button type="button" class="close" aria-label="Close" data-bind="click: $parent.remove_alert">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    <!-- /ko -->
{% endblock %}

{% block  content %}
    <div>
        <label>Monthly Payroll </label>
        <input type="checkbox" data-bind="checked: monthly_payroll"></input>
    </div>
    <div id="main" class="row">
        <div class="col-lg-2">
            {{ m_form.payroll_type.label }}
            {{ m_form.payroll_type }}
        </div>
        <div class="col-lg-2">
            
            {{ m_form.branch.label }}
            {{ m_form.branch }}
        </div>
        <div class="col-lg-3" data-bind="css:{'bg-warning': paid_from_date_error() != null}">
            {{ m_form.from_date.label }}
            {{ m_form.from_date }}
            <p data-bind="text: paid_from_date_error"></p>
        </div>
        <div class="col-lg-3" data-bind="css:{'bg-warning': paid_from_date_error() != null}">
            {{ m_form.to_date.label }}
            {{ m_form.to_date }}
            <p data-bind="text: paid_to_date_error"></p>
        </div>
        <div class="col-lg-2" >
            <input type="button" class="btn btn-raised btn-primary" data-bind="click: getGroupSalary, visible: !switch_p_type()" value="Get">
        </div>
    </div>
    <div>
        <form data-bind="submit: saveAndAdd">
            <table class="table payment-row-table" >
                <tr data-bind="visible:rows().length>0" >
                    <th>{% trans 'Employee' %}</th>
                    
                    <th>{% trans 'Grade' %}</th>
                    <th>{% trans 'Designation' %}</th>
                    
                    {% for field in ko_data.allowance_data %}
                        <th>{% trans field.field_name %}</th>
                    {% endfor %}
                    <th>{% trans 'Total Allowance' %}</th>
                    
                    {% for field in ko_data.incentive_data %}
                        <th>{% trans field.field_name %}</th>
                    {% endfor %}
                    <th>{% trans 'Total Incentive' %}</th>
                    
                    {% for field in ko_data.deduction_data %}
                        <th>{%trans field.field_name %}</th>
                    {% endfor %}
                    
                    <th>{% trans 'Total Deduced Amount' %}</th>
                    
                    <th>{% trans 'PF Deduced Amount' %}</th>

                    <th>{% trans 'Income Tax' %}</th>
                    <th>{% trans 'Pro Tempore Amount' %}</th>
                    <th>{% trans 'Salary' %}</th>
                    <th>{% trans 'Paid Amount' %}</th>
                    <th>{% trans 'Control' %}</th>
                    <!-- <th>From xxxxxxxxxxxx</th>
                    <th>To xxxxxxxxxxxxxx</th> -->

                </tr>

                <!-- ko foreach: rows -->
                    <!-- ko foreach: row_errors -->
                        <tr data-bind="css: {warning: true}">
                            <td colspan="100%" data-bind="text: $data"></td>
                        </tr>
                    <!-- /ko -->
                    <tr data-bind="css: {warning: row_errors().length > 0}">                     
                        <td>{{ r_form.paid_employee }}</td>
                       
                        <td><b data-bind="text: employee_grade"></b></td>
                        <td><b data-bind="text: employee_designation"></b></td>
                       
                        {% for field in ko_data.allowance_data %}
                            <td data-bind="editableText: {{ field.observable_name }}, disable_content_editable: disable_input, numeric: true"></td>
                        {% endfor %}
                        <td data-bind="editableText: allowance, disable_content_editable: disable_input, numeric: true"></td>
                        
                        {% for field in ko_data.incentive_data %}
                            <td data-bind="editableText: {{ field.observable_name }}, disable_content_editable: disable_input, numeric: true"></td>
                        {% endfor %}
                        <td data-bind="editableText: incentive, disable_content_editable: disable_input, numeric: true"></td>
                        
                        {% for field in ko_data.deduction_data %}
                            <td data-bind="editableText: {{ field.observable_name }}, disable_content_editable: disable_input, numeric: true"></td>
                        {% endfor %}
                        <td data-bind="editableText: deduced_amount, disable_content_editable: disable_input, numeric: true"></td>
                        
                        <td data-bind="editableText: pf_deduction_amount, disable_content_editable: disable_input, numeric: true"></td>
                        <td data-bind="editableText: income_tax, disable_content_editable: disable_input, numeric: true"></td>
                        <td data-bind="editableText: pro_tempore_amount, disable_content_editable: disable_input, numeric: true"></td>
                        <td data-bind="editableText: salary, disable_content_editable: disable_input, numeric: true"></td>
                        <td data-bind="editableText: paid_amount, disable_content_editable: disable_input, numeric: true"></td>
                        <td><input type="button" value="Remove" data-bind="click: $parent.removeRow, visible: !$parent.entry_saved()"></input></td>
                        <!-- <td>{{ r_form.paid_from_date }}</td>
                        <td>{{ r_form.paid_to_date }}</td> -->
                    </tr>
                <!-- /ko -->
            
            </table>
            <input type="button" class="btn btn-raised btn-primary" value="Add Another" data-bind="visible: switch_p_type, click: addRow">
            
            <input type="submit" class="btn btn-raised btn-primary" value="Save" data-bind="visible: rows().length>0 && !entry_saved()">
        </form>
        <input type="button" class="btn btn-raised btn-primary" value="Approve" data-bind="visible: rows().length > 0 && !entry_approved() && entry_saved(), click: approve_entry">
        <input type="button" class="btn btn-raised btn-primary" value="Approved" data-bind="visible: rows().length > 0 && entry_approved()">
        <input type="button" class="btn btn-raised btn-primary" value="Transact" data-bind="visible: rows().length > 0 && entry_approved() && !entry_transacted(), click: transact">
        <input type="button" class="btn btn-raised btn-primary" value="Transacted" data-bind="visible: rows().length > 0 && entry_approved() && entry_transacted()">
        <!-- <input type="button" class="#" value="Delete Entry" data-bind="click: entry_delete, visible: entry_saved()"> -->
    </div>
    
{% endblock %}