{% extends 'hr_base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <script src="{% static 'js/vendors/jquery-formset.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('option:not(:selected)').attr('disabled', true);
            
            $(function () {
                $('.tax-calc-scheme-form').formset({
                    prefix: '{{ tax_calc_scheme_formset.prefix }}'
                });
            });
           
        });
    </script>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
        <li><a href="{% url 'payroll_entry' %}">{% trans 'Payroll Entry' %}</a>
        <li><a href="{% url 'entry_list' %}">{% trans 'Entry List' %}</a>
        <li><a href="{% url 'list_tax_scheme' %}">{% trans 'Tax Scheme List' %}</a>

{% endblock %}
{% block breadcrumbs_before_print %}
{% endblock %}
{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}
{% if obj_id %}
    <form method="POST" action="{% url 'edit_tax_scheme' obj_id %}">
{% else %}
    <form method="POST" action="{% url 'add_tax_scheme' %}">
{% endif %}
    {% csrf_token %}
    <div class="well">
        {{ tax_scheme_form }}
    </div>
    <div class="well">
        {{ tax_calc_scheme_formset.non_form_errors.as_ul }}
        <table id="formset" class="form table table-striped">
        {% for form in tax_calc_scheme_formset.forms %}
          {% if forloop.first %}
          <thead><tr>
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
          </tr></thead>
          {% endif %}
          <tr class="{% cycle row1,row2 %} tax-calc-scheme-form">
          {% for field in form.visible_fields %}
            <td>
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
            {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
    </div>
    {{ tax_calc_scheme_formset.management_form }}
    <input class="btn btn-raised btn-primary" type="submit" value="Save">

</form>
    
    
{% endblock %}