{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}

{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}
    <table class="table" >
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Controls</th>
        </tr>
        {% if m_objects %}
        <tr>
            <td colspan="100"><a href={% url 'edit_taxscheme' m_objects.0.marital_status.id %}>MARRIED</a></td>
        </tr>
        {% endif %}
        {% for obj in m_objects %}
            <tr>
                
                <td><a href={% url 'edit_tax_scheme' obj.id %}>{{ obj.start_from }}</a></td>
                <td><a href={% url 'edit_tax_scheme' obj.id %}>{{ obj.end_to }}</a></td>
                <td><a href={% url 'delete_tax_scheme' obj.id %}><button type="button">Delete</button></a></td>

            </tr>
        {% endfor %}
        {% if u_objects %}
        <tr>
            <td colspan="100"><a href={% url 'edit_taxscheme' u_objects.0.marital_status.id %}>UNMARRIED</a></td>
        </tr>
        {% endif %}
        {% for obj1 in u_objects %}
            <tr>
                
                <td><a href={% url 'edit_tax_scheme' obj1.id %}>{{ obj1.start_from }}</a></td>
                <td><a href={% url 'edit_tax_scheme' obj1.id %}>{{ obj1.end_to }}</a></td>
                <td><a href={% url 'delete_tax_scheme' obj1.id %}><button type="button">Delete</button></a></td>

            </tr>
        {% endfor %}
    </table>
    <a href={% url 'add_taxscheme' %}><input type="button" value="Add New Scheme"></a>
    
    
{% endblock %}