{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <script src="{% static 'js/vendors/jquery-formset.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('option:not(:selected)').attr('disabled', true);
            
            $(function () {
                $('.tax-calc-scheme-form').formset({
                    prefix: '{{ tax_calc_scheme_formset.prefix }}'
                });
            });
           
        });
    </script>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
        <li><a href="{% url 'payroll_entry' %}">{% trans 'Payroll Entry' %}</a>
        <li><a href="{% url 'entry_list' %}">{% trans 'Entry List' %}</a>
        <li><a href="{% url 'list_tax_scheme' %}">{% trans 'Tax Scheme List' %}</a>

{% endblock %}
{% block breadcrumbs_before_print %}
{% endblock %}
{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}
{% if obj_id %}
    <form method="POST" action="{% url 'edit_tax_scheme' obj_id %}">
{% else %}
    <form method="POST" action="{% url 'add_tax_scheme' %}">
{% endif %}
    {% csrf_token %}
    <div class="row">
        {{ tax_scheme_form.as_table }}
    </div>
    <div class="tax-calc-scheme-formset">
        {% for tax_calc_scheme_form in tax_calc_scheme_formset %}
            <div class="row tax-calc-scheme-form">
                {{ tax_calc_scheme_form.as_table }}
                {% if tax_calc_scheme_form.instance.pk %}{{ tax_calc_scheme_form.DELETE }}{% endif %}
            </div>
        {% endfor %}
    </div>
    {{ tax_calc_scheme_formset.management_form }}
    <input type="submit" value="Save"></input>

</form>
    
    
{% endblock %}