{% extends 'base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <script src="{% static 'js/vendors/jquery-formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.tax-scheme-form').formset({
                prefix: '{{ tax_scheme_formset.prefix }}'
            });
        });
    </script>
{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}

<form method="POST" action="{% url 'tax_scheme' %}">

    {% csrf_token %}

    <div class="tax-scheme-formset">
        {% for tax_scheme_form in tax_scheme_formset %}
            <div class="row tax-scheme-form">
                {{ tax_scheme_form.as_table }}
                {% if tax_scheme_form.instance.pk %}{{ tax_scheme_form.DELETE }}{% endif %}
            </div>
        {% endfor %}
    </div>
    {{ tax_scheme_formset.management_form }}
    <input type="submit" value="Save"></input>

</form>
    
    
{% endblock %}