body {
    line-height: 1.3;
    cursor: auto;
}

select, input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    width: auto;
}

.row {
    max-width: none;
}

th, td {
    line-height: 1;
}

h1 {
    font-size: 2em;
    line-height: 1.2125em;
}

.left-sidebar {
    /*position: fixed;*/
    background-color: #ffffff;
    /*z-index: 10000;*/
}

.main-content {
    /*border-left: 1px solid #DDDDDD;*/
}

.table-bordered {
    width: 100%;
}

.table-bordered th, .table-bordered td {
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.widget-box {
    display: none;
}

.breadcrumbs {
    margin: 0 1em 1em 1em;
}

.errorlist {
    color: red;
}

td .select2-choice {
    border: none !important;
    box-shadow: none;
}

td .select2-container {
    width: 100%
}

.inline-fields input, .inline-fields select {
    display: inline;
    margin: 0;
}

.inline-fields div {
    padding-bottom: 1em;
}

.invalid-row td:first-child {
    background: #FBE3E4 !important;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.center, .centre {
    text-align: center;
}

.appended-link {
    background: none repeat scroll 0 0 #D0D0D0;
    color: #000000;
    display: block;
    margin: 4px auto;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

.dont-validate td {
    background: transparent !important;
}

.clear {
    clear: both;
}

tbody > tr > td[contenteditable="true"] {
    /*border: #CCC 1px solid;*/
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CFCFCF), color-stop(22%, #ededed), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    background: -o-linear-gradient(top, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    background: -ms-linear-gradient(top, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    background: linear-gradient(to bottom, #CFCFCF 0%, #ededed 22%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCFCF', endColorstr='#ededed', GradientType=0);
}

.only-on-print {
    display: none;
}

.width-4 {
    width: 4em;
}

.width-3 {
    width: 2.5em;
}

.alert-box.warning, .alert-box.error {
    background-color: #FBE3E4;
    color: #777777;
}

.row .row.no-nesting {
    margin: auto 0;
}

.alert-error {
    color: #FF5555;
}

.header .button {
    margin: 0;
}

.header select {
    height: 3.3em;
    margin: 0;
}

.header form {
    display: inline;
    float: left;
}

.header h3 {
    margin-bottom: 0;
}

.appended-link + .selectize-input {
    display: none;
}

.selectize-input {
    max-width: 25em;
}

.selectize-inline .selectize-control {
    display: inline;
}

td .selectize-input {
    width: 100%;
}

.selectize-input > input {
    position: absolute;
}

td .amount-dropdown {
    /*width: auto;*/
    max-width: 50em !important;
    /*left: 0 !important;*/
}

td input[type="text"] {
    border: none;
    width: 100%;
}

input.small[type="text"] {
    width: 4em;
}

.f-dropdown.content {
    display: none;
}

.f-dropdown.content.open {
    display: block;
}

.close {
    color: red;
}

.acquisition-form label {
    font-weight: bold;
}

.acquisition-form input[type="file"] {
    width: auto;
}

label.required:after {
    content: '*';
    color: red;
}

.acquisition-form #subtitle {
    width: 100%;
}

ul.records, ul#id_models {
    list-style: none;
}

ul.records {
    padding-left: 0px;
}

ul.messages {
    list-style: none;
    border: 1px solid black;
}

ul.messages li.success {
    color: green;
}

ul.messages li.error {
    color: red;
}

ul.messages li {
    padding-left: 1em;
}

.breadcrumbs > .right:before {
    content: none;
}

.breadcrumbs form, .breadcrumbs input {
    margin: 0;
    display: inline;
}

.breadcrumbs input {
    padding: 0 1em;
    height: auto;
}

.dashboard div {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0.25em;
    box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    float: left;
    /*height: 10em;*/
    height: 13em;
    margin: 0.75em 1.5em 0.75em 0;
    text-align: center;
    /*width: 7.5em;*/
    width: 10.5em;
    font-weight: bold;
}

.dashboard img {
    padding: 0.75em;
}

.dashboard div:hover {
    box-shadow: 0 10px 10px 10px #999;
}

.dashboard-search {
    clear: both;
    padding-top: 3em;
}

.dashboard-search * {
    display: inline;
}

.tabs dd, .tabs .tab-title {
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    outline: none;
}

.tabs dd, .tabs .tab-title a {
    outline: none;
}

#files input[type="file"] {
    width: auto;
}

.inline-add .selectize-control {
    display: inline;
}

.accordion dd, .accordion form {
    clear: both;
}

.library-search ul * {
    display: inline;
}

ul.messages {
    border: none;
    margin-left: -1em;
}

table#group-table td input[type="number"] {
    display: inline;
    max-width: 5em;
}

#library form {
    margin: 0 1em;
}

/*Bootstrap override css*/
form p select.form-control, form div select.form-control {
    width: auto;
}

label {
    font-weight: normal;
}

.width-auto, input[type=url] {
    width: auto;
}

#other-properties input[type=text], input[type=text]#id_q, form input[type=text].input-inline, .input-inline, .isbn-form input[type=text] {
    display: inline;
}

form {
    line-height: 2.5em;
}

#breadcrumb-isbn {
    margin-top: -23px;
    margin-left: 17px;
    height: 26px;
}

.acquision-form div .selectize-control {
    height: 4em;
}

.breadcrumbs span {
    color: #666666;
}

#demand-drop-menu {
    width: 32em;
    padding: 0px 12px;
}

.inline {
    display: inline !important;
}

footer {
    text-align: center;
    padding-top: 2em;
    border-top: 1px dotted black;
    margin-top: 5em;
}

.pad {
    padding: 1em;
}

.selectize-input {
    min-height: 36px;
}

.release-dropdown {
    /*min-width: 40%;*/
}

.bordered {
    border: 1px solid black;
}

.form-header h3, .form-header h4 {
    margin: 0 auto;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.tile a {
    display: block;
    padding-top: 0.5em;
}

.tile {
    width: 20em;
    float: left;
    background-color: #eeeeee;
    padding: 0 0.5em 0.5em;
    margin: 1em;
    min-height: 16em;
    box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
}

td.link a {
    display: block;
}

li.link a {
    display: block;
}

.nav-bar .nav-btn form div select.btn {
    height: 32px;
    color: #fff;
}

.nav-bar .nav-btn a.btn {
    color: #fff;
}

.navbar ul li a h3 {
    margin: 0px;
}

.form-group {
    margin: 0px !important;
}

.form-inline {
    display: inline;
}

#breadcrumb-search-isbn {
    margin-top: -2.2em;
    margin-left: 1.3em;
}

.word-wrap {
    word-wrap: break-word;;
}

/*.table-responsive
{
    overflow-x: auto;
}*/

.form-control {
    margin-bottom: 0px !important;
    padding: 7px 0 4px 0 !important;
}

td div.btn-group {
    margin: 0px;
}

.add_selected_party {
    margin: 0 !important;
}

td + td {
    border-left: 1px solid rgb(221, 221, 221);
}

.body-center {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.center-headings th {
    text-align: center;
    vertical-align: middle !important;
}

tr.total, tr.category, tr.subtotal {
    font-weight: bold;
}

.selectize-control {
    width: 22em;
}

.selectize_width tr td:first-child {
    width: 22em;
}

#reimbursement input[type="number"] {
    width: 100%;
}

.panel-title a {
    cursor: pointer;
}

.selectize-control.invalid {
    border: 1px solid #ff2d4d;
}

.release-button {
    background: #EEEEEE !important;
    width: 100%;
    height: 37px;
    left: 14px;
}

.link-group > div {
    display: inline-block;
    /*width: 200px;*/
    border: 3px rgba(196, 199, 198, 0.73) solid;
    padding: 5px;
}

.link-group > div > a > h5 {
    width: 100%;
    text-align: center;
    /*padding: 10px;*/
}

.link-group > div > a > img {
    display: table;
    margin: 0 auto;
}

.link-group > h3 {
    text-align: left;
    background: rgba(0, 150, 136, 0.94);
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nerp-title {
    background: rgba(0, 150, 136, 0.94);
    color: #fff;
    padding: 10px 15px 3px 15px;

}


.listing-box{
    border: 5px solid rgba(0, 150, 136, 0.94);
}

.listing-box p {
    background: rgba(0, 150, 136, 0.94);
    font-size: 150%;
    color: white;
    font-weight: bold !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid lightgray;

}
.listing-box ul{
    /*height: 200px;*/
    /*overflow: scroll;*/
}

.listing-box ul > li {
    font-size: 150%;
    font-weight: 500 !important;
    padding-top: 4px;
    padding-bottom: 4px;

}

.listing-box ul > li:nth-child(even) {
    /*background-color: lightgray;*/
}