@page {
    size: A4 landscape;
    counter-increment: page;
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        white-space: pre;
        color: #b8b8b8;
    }
}

.page-break {
    display: block;
    page-break-before: always;
}

table{
    max-width: 100%;
    font-size: 90%;
}