/*App Template*/

.header, footer, .left-sidebar, .breadcrumbs, .breadcrumb, a.button, input[type="submit"], #alert_placeholder {
    display: none !important;
}

.main-content {
    border: none;
}

.inline-fields div {
    padding: 0 !important;
}

.no-print{
    display: none !important;
}

/*Generic*/

a[href]:after {
    content: none;
}

a {
    text-decoration: none;
}

button {
    display: none !important;
}

input, textarea, select {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    -webkit-appearance: none;
    background: none;
}

/*Bootstrap*/

a.btn {
    display: none;
}

/*Browser specific*/

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*Tables*/

table {
    width: 100% !important;
    max-width: 100% !important;
}

table.table-bordered {
    border-color: #000000;
}

.table-bordered th, .table-bordered td {
    border-color: #000000;
}

th.only-on-print, td.only-on-print {
    display: table-cell !important;
}

/*Selectize*/

.selectize-input {
    border: none;
    display: none;
    padding: 0;
}

.selectize-input.has-items {
    display: inline-block;
}

.selectize-input input {
    display: none !important;
}

.selectize-control.single .selectize-input:after {
    border: none !important;
}

/*.col-sm-6 {*/
    /*float: left;*/
/*}*/

* {
    border: none;
}