{% extends 'hr_base.html' %}
{% load staticfiles %}

{% load filters %}
{% load i18n %}

{% block head_end %}

{% endblock %}

{% block alert %}

    <!-- <div id="alert_placeholder">
        <ul data-bind="foreach: errors.items" class="alert-error">
            <li>
                Budget for "<span data-bind="text: budget.name()"></span>" from source "<span data-bind="text: source"></span>" exceeds
            </li>
        </ul>
    </div> -->
{% endblock %}

{% block  content %}
    {% load pagination_tags %}
    {% load sorting_tags %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}
    <div class="well">
        <table class="table table-striped">
            <thead>
            <th>{% anchor name _('Name') %}</th>
            <th>{% anchor description _('Description') %}</th>
            <th>{% trans 'Controls' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr>
                    <td class="link">
                        <a href="{% url 'taxdeduction_edit' item.id %}">{{ item.name }}</a>
                    </td>
                    <td>
                        {{ item.description }}
                    </td>
                    <td>
                        <a href="{% url 'taxdeduction_delete' item.id %}">
                            <button class="btn btn-raised btn-danger">{% trans 'Delete' %}</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% paginate %}

    <a class="btn btn-success btn-raised btn-lg"
       href="{% url 'taxdeduction_add' %}">{% trans 'New' %} {% trans 'Tax Deduction' %}</a>


{% endblock %}