{% extends '_project_base.html' %}
{% load i18n staticfiles filters %}

{% block title %}{{ aid }} {% trans 'Disbursement' %}{% endblock %}

{% block head_end %}
    <script src="{% static 'js/project/aid_disbursement.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="#">{% trans 'Aid Disbursements' %}</a></li>
    <li><span>{% trans 'Note 3' %}{{ index|to_char }}: {{ aid }} {% trans ' Disbursement' %}</span></li>
{% endblock %}

{% block content %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <div class="well">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-striped table-responsive table-bordered center-headings">
                <thead>
                <tr>
                    <th rowspan="2">{% trans "Disbursement Procedure" %}</th>
                    <th rowspan="2">{% trans "No." %}</th>
                    <th colspan="3">{% trans "Previous Year" %}</th>
                    <th colspan="3">{% trans "Current Year" %}</th>
                    <th colspan="3">{% trans "Cumulative up to Current Year" %}</th>
                </tr>
                <tr>
                    <th>{% trans "NRs." %}</th>
                    <th>{% trans "USD" %}</th>
                    <th>{% trans "SDR" %}</th>
                    <th>{% trans "NRs." %}</th>
                    <th>{% trans "USD" %}</th>
                    <th>{% trans "SDR" %}</th>
                    <th>{% trans "NRs." %}</th>
                    <th>{% trans "USD" %}</th>
                    <th>{% trans "SDR" %}</th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: modes -->
                <tr class="total">
                    <td colspan="11">
                        <u data-bind="text: name"></u>
                    </td>
                </tr>
                <!-- ko foreach: disbursements -->
                <tr>
                    <td data-bind="text: category"></td>
                    <td data-bind="text: code"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td data-bind="text: nrs"></td>
                    <td data-bind="text: usd"></td>
                    <td data-bind="text: sdr"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- /ko -->
                <tr class="total">
                    <td class="text-right">
                        {% trans 'Sub-total' %}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td data-bind="text: nrs_subtotal"></td>
                    <td data-bind="text: usd_subtotal"></td>
                    <td data-bind="text: sdr_subtotal"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- /ko -->

                <tr class="total">
                    <td>
                        {% trans 'TOTAL' %}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td data-bind="text: nrs_total"></td>
                    <td data-bind="text: usd_total"></td>
                    <td data-bind="text: sdr_total"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr data-bind="with: initial_deposit">
                    <td>
                        {% trans 'Initial Deposit' %}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td data-bind="text: nrs"></td>
                    <td data-bind="text: usd"></td>
                    <td data-bind="text: sdr"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans 'Total Including Initial Deposit' %}</b>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td data-bind="text: parseFloat(initial_deposit.nrs) + parseFloat(nrs_total)"></td>
                    <td data-bind="text: parseFloat(initial_deposit.usd) + parseFloat(usd_total)"></td>
                    <td data-bind="text: parseFloat(initial_deposit.sdr) + parseFloat(sdr_total)"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>


                </tbody>

            </table>
        </form>
    </div>
{% endblock %}