{% extends "_project_base.html" %}
{% load i18n static filters %}

{% block title %}{% trans 'Budget Allocation' %} -  {{ fy }}{% endblock %}

{% block head_end %}
    <script src="{% static 'js/project/budget_allocation_item.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="#">{% trans 'Budget Allocation' %}</a></li>
{% endblock %}

{% block content %}

    <div class="visible-print-block form-header">
        <h4 class="text-center">{% localize_header %}</h4>
        <h4 class="text-center">{% trans 'Budget Allocation' %} - {{ fy }}</h4>
    </div>

        <form method="post" enctype="multipart/form-data" data-bind="submit: save" name="demand-form">
            <div class="well">
            {% csrf_token %}

            <div class="selectize_width">
                <table class="table table-striped table-responsive table-bordered center-headings">
                    <thead>
                    <tr>
                        <th>{% trans "Budget Head" %}</th>
                        <th>{% trans "GON" %}</th>
                        <!-- ko foreach: $root.aids -->
                        <th data-bind="text: $data "></th>
                        <!-- /ko -->
                        <th>{% trans 'Total' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="budget-allocation">
                     <!-- ko with: budget_head_view -->
                    <tr>
                        <td colspan="100%">{% trans "Budget Head" %} <button class="btn btn-default btn-raised btn-sm"
                                        data-bind="click: addRow">{% trans '+' %}</button></td>
                    </tr>
                    <!-- ko foreach: rows -->
                    <tr>
                        <td>
                            <select data-bind="selectize: $root.budget_heads, value: budget_head_id, object: budget_head"></select>
                        </td>
                        <td data-bind="editableText: goa_amount, numeric: true"></td>
                        <!-- ko foreach: $root.count -->
                        <td data-bind="editableText: $parent[$data], numeric: true"></td>
                        <!-- /ko-->
                        <td data-bind="text: total()"></td>
                        <td class="hidden-print">
                            <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko with: capital_expenditure_view -->
                    <tr>
                        <td colspan="100%">{% trans "Capital Expenditure" %} <button class="btn btn-default btn-raised btn-sm"
                                        data-bind="click: addRow">{% trans '+' %}</button></td>
                    </tr>
                    <!-- ko foreach: rows -->
                    <tr>
                        <td>
                            <select data-bind="selectize: $root.capital_expenditure, value: budget_head_id"></select>
                        </td>
                        <td data-bind="editableText: goa_amount, numeric: true"></td>
                        <!-- ko foreach: $root.count -->
                        <td data-bind="editableText: $parent[$data], numeric: true"></td>
                        <!-- /ko-->
                        <td data-bind="text: total()"></td>
                        <td class="hidden-print">
                            <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                    <tr class="total">
                        <td>{% trans "Total" %}</td>
                        <td colspan=2 data-bind="text: grand_total()"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>

            <input type="submit" class="btn btn-info btn-raised btn-lg" value="{% trans 'Save' %}">
        </form>

    </div>

{% endblock %}
