{% extends "_project_base.html" %}
{% load i18n staticfiles filters %}

{% block title %}{{ scenario }} {% trans 'Disbursement Detail' %}{% endblock %}

{% block head_end %}
    {#    <script src="{% static 'js/project/disbursement_detail.js' %}"></script>#}
    {#    <script>#}
    {#        ko_data = {{data|jsonify}};#}
    {#    </script>#}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "disbursement_detail_list" project_fy.id %}">{% trans 'Disbursement Details' %}</a></li>
    <li><span>{% trans scenario %} {% trans 'Disbursement Detail' %}</span></li>
{% endblock %}

{% block content %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post" data-bind="submit: save">
        {% csrf_token %}
        <div class="well">
            {{ form.as_p }}
        </div>

        <div class="span12">
            <button type="submit" value="Submit" class="btn btn-info btn-raised">
                {% trans 'Submit' %}</button>
            {% if form.instance.id %}
                <a class="btn btn-danger btn-raised"
                   href="{% url 'disbursement_detail_delete' project_fy.id form.instance.id %}">{% trans 'Delete' %}!</a>
            {% endif %}
        </div>
    </form>


{% endblock %}