{% extends base_template %}
{% load i18n %}

{% block title %}{{ scenario }} {% trans 'Expense Category' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "expense_category_list" %}">{% trans 'Expense Categorys' %}</a>
    <li><span>{% trans scenario %} {% trans 'Expense Category' %}</span></li>
{% endblock %}

{% block content %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post">
        {% csrf_token %}
        <div class="well">
        {{ form.as_p }}
        </div>
            <div class="span12">
                <button type="submit" value="Submit" class="btn btn-info btn-raised">
                    {% trans 'Submit' %}</button>
                {% if scenario == 'Update' %}
                    <a class="btn btn-danger btn-raised"
                       href="{% url 'expense_category_delete' form.instance.id %}">{% trans 'Delete' %}!</a>
                {% endif %}
            </div>
    </form>


{% endblock %}