{% extends "_project_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Expense' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "expense_list" project.id %}">{% trans 'Expenses' %}</a></li>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}
    <div class="well">
    <table class="table table-striped">
        <thead>
        <th>{% anchor name _('Name') %}</th>
        <th>{% trans 'Code' %}</th>
        <th>{% trans 'Enable' %}</th>
        <th>{% trans 'GON Funded' %}</th>
        <th>{% trans 'Order' %}</th>
        </thead>
        <tbody>
        {% for expense in paginated_objects %}
            <tr>
                <td class="link">
                    <a href="{% url 'expense_edit' project.id expense.id %}">{{ expense }}</a>
                </td>
                <td>{{ expense.code |default:"" }}</td>
                <td>
                    <div class="checkbox no-margin">
                        <label>
                            <input type="checkbox" {% if expense.enabled %}checked{% endif %} disabled>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox no-margin">
                        <label>
                            <input type="checkbox" {% if expense.gon_funded %}checked{% endif %} disabled>
                        </label>
                    </div>
                </td>
                <td>{{ expense.order }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <a class="btn btn-success btn-raised btn-lg"
       href="{% url 'expense_add' project.id %}">{% trans 'New' %} {% trans 'Expense' %}</a>

    {% paginate %}

{% endblock %}