{% extends base_template %}
{% load i18n %}

{% block title %}{{ scenario }} {% trans 'Imprest Journal Voucher' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "imprest_journal_voucher_list" project.id %}">{% trans 'Imprest Journal Vouchers' %}</a>
    <li>{% trans 'Add' %}</li>
{% endblock %}

{% block content %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post">
        {% csrf_token %}
        <div class="well">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form.voucher_no.label_tag }}
                    {{ form.voucher_no }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form.date.label_tag }}
                    {{ form.date }}
                </div>
            </div>
            <br/>
            <table class="table-responsive table-striped table center-headings table-bordered">
                <thead>
                <tr>
                    <th rowspan="2">{% trans 'Particulars' %}</th>
                    <th rowspan="2">{% trans 'WA No.' %}</th>
                    <th colspan="3">{% trans 'Dr' %}</th>
                    <th colspan="3">{% trans 'Cr' %}</th>
                </tr>
                <tr>
                    <th>{% trans 'NRS' %}</th>
                    <th>{% trans 'USD' %}</th>
                    <th>{% trans 'Ex. Rate' %}</th>
                    <th>{% trans 'NRS' %}</th>
                    <th>{% trans 'USD' %}</th>
                    <th>{% trans 'Ex. Rate' %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ form.dr }}</td>
                    <td>{{ form.wa_no }}</td>
                    <td>{{ form.amount_nrs }}</td>
                    <td>{{ form.amount_usd }}</td>
                    <td>{{ form.exchange_rate }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ form.cr }}</td>
                    <td>{{ form.wa_no }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ form.amount_nrs }}</td>
                    <td>{{ form.amount_usd }}</td>
                    <td>{{ form.exchange_rate }}</td>
                </tr>
                </tbody>
            </table>


            {{ form.as_p }}
        </div>
        <div class="span12">
            <button type="submit" value="Submit" class="btn btn-info btn-raised">
                {% trans 'Submit' %}</button>
            {% if scenario == 'Update' %}
                <a class="btn btn-danger btn-raised"
                   href="{% url 'expense_delete' project.id form.instance.id %}">{% trans 'Delete' %}!</a>
            {% endif %}
        </div>
    </form>


{% endblock %}