{% extends "_project_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Journal Vouchers' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url "imprest_journal_voucher_list" project_fy.id %}">{% trans 'Imprest Journal Vouchers' %}</a>
    </li>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}
    <div class="well">
        <table class="table table-striped">
            <thead>
            <th>{% anchor voucher_no _('Voucher No') %}</th>
            <th>{% anchor date _('Date') %}</th>
            <th>{% anchor dr _('Dr') %}</th>
            <th>{% anchor cr _('Cr') %}</th>
            <th>{% anchor amount_nrs _('NRS') %}</th>
            <th>{% anchor amount_usd _('USD') %}</th>
            <th>{% anchor exchage_rate _('Ex. Rate') %}</th>
            </thead>
            <tbody>
            {% for obj in paginated_objects %}
                <tr>
                    <td class="link">
                        <a href="{% url 'imprest_journal_voucher_edit' project_fy.id obj.id %}">{{ obj.voucher_no }}</a>
                    </td>
                    <td class="link">
                        <a href="{% url 'imprest_journal_voucher_edit' project_fy.id obj.id %}">{{ obj.date }}</a>
                    </td>
                    <td><a href="{% url 'account_view' project_fy.id obj.dr_id %}">{{ obj.dr }}</a></td>
                    <td><a href="{% url 'account_view' project_fy.id obj.cr_id %}">{{ obj.cr }}</a></td>
                    <td>{{ obj.amount_nrs }}</td>
                    <td>{{ obj.amount_usd }}</td>
                    <td>{{ obj.exchange_rate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <a class="btn btn-success btn-raised btn-lg"
       href="{% url 'imprest_journal_voucher_add' project_fy.id %}">{% trans 'New' %} {% trans 'Journal Voucher' %}</a>

    {% paginate %}

{% endblock %}