{% extends '_project_base.html' %}
{% load i18n staticfiles filters %}

{% block title %}{{ scenario }} {% trans 'Note 2: Statement of Funds' %}{% endblock %}

{% block head_end %}
    <script src="{% static 'js/project/aid_disbursement.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans 'Statement of Funds' %}</li>
{% endblock %}

{% block content %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <div class="well">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-striped table-responsive table-bordered center-headings">
                <thead>
                <tr>
                    <th>{% trans "Particulars" %}</th>
                    <th>{% trans "Previous Year" %}</th>
                    <th>{% trans "Cumulative up to previous year" %}</th>
                    <th>{% trans "Current Year" %}</th>
                    <th>{% trans "Cummulative up to Current Year" %}</th>
                </tr>
                </thead>
                <tbody>
                <!-- ko with: budget_usage -->
                <tr>
                    <td colspan="5"><b>{% trans "(A) Budget Release" %}</b></td>
                </tr>
                <!-- ko foreach: usages -->
                <tr>
                    <td class="text-right" data-bind="text: name">
                    </td>
                    <td></td>
                    <td data-bind="text: release"></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- /ko -->
                <tr class="total">
                    <td class="text-right">
                        {% trans 'Sub-total' %}
                    </td>
                    <td></td>
                    <td data-bind="text: release_total"></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="5"><b>{% trans "(B) Less: Unspent Balance" %}</b></td>
                </tr>
                <!-- ko foreach: usages -->
                <tr>
                    <td class="text-right" data-bind="text: name">
                    </td>
                    <td></td>
                    <td data-bind="text: parseFloat(release) - parseFloat(spent)"></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- /ko -->
                <tr class="total">
                    <td class="text-right">
                        {% trans 'Sub-total' %}
                    </td>
                    <td></td>
                    <td data-bind="text: unspent_total"></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td colspan="5"><b>{% trans "(C) GON Fund Invloved" %}</b></td>
                </tr>
                <tr>
                    <td>
                        Add: source transferred to GON from ADB
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Less: Source Transferred from ADB to GON
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </form>
    </div>
{% endblock %}