{% extends '_project_base.html' %}
{% load i18n %}

{% block title %}{{ scenario }} {% trans 'Note 2: Statement of Funds' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="#">{% trans 'Statement of Funds' %}</a></li>
    <li><span>{% trans scenario %} {% trans 'Statement of Funds' %}</span></li>
{% endblock %}

{% block content %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <div class="well">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-striped table-responsive table-bordered center-headings">
                <thead>
                <tr>
                    <th>{% trans "Particulars" %}</th>
                    <th>{% trans "Previous Year" %}</th>
                    <th>{% trans "Cumulative up to previous year" %}</th>
                    <th>{% trans "Current Year" %}</th>
                    <th>{% trans "Cummulative up to Current Year" %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="5"><b>{% trans "(A) Budget Release" %}</b></td>
                </tr>
                <tr>
                    <td>
                        GON Fund
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Reimbursable Fund
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="5"><b>{% trans "(B) Less" %}</b></td>
                </tr>
                <tr>
                    <td>
                        Unspent balance GON fund
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Unspent balance aand Reimbursable Fund
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="5"><b>{% trans "(C) GON Fund Invloved" %}</b></td>
                </tr>
                <tr>
                    <td>
                        Add: source transferred to GON from ADB
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Less: Source Transferred from ADB to GON
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </form>
    </div>
{% endblock %}