{% extends "pdf_base.html" %}

{% load i18n filters static %}

{% block extra_style %}

{% endblock %}

{% block content %}
 <div class="text-center ">
        <span class="pull-right">{% trans 'FCGO' %} {% trans 'F.N.' %} {% trans '4' %}{% trans '6' %}</span>
        <br>
        <h4 class="text-center">{% localize_header %}</h4>
        <h4 class="text-center">{% trans 'Entry Report' %}</h4>
    </div>

        <div class="pull-right">
            {% trans 'Date' %}: <span>{{ object.date |localize }}</span> 
        </div>

        {% trans 'Entry Report' %} {% trans 'No.' %}: {{ object.entry_report_no }}
        <br>
        <div data-bind="with:table_view">
            <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th rowspan="2" class="span1">{% trans 'SN' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Inventory Account Page No.' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Inventory Classification Reference No.' %}</th>
                    <th rowspan="2" class="span2">{% trans "Item's Name" %}</th>
                    <th rowspan="2" class="span2">{% trans 'Specification' %}</th>
                    <th rowspan="2" class="span3">{% trans 'Unit' %}</th>
                    <th rowspan="2" class="span3">{% trans 'Quantity' %}</th>
                    <th colspan="5" class="span2">{% trans 'Price' %} ({% trans 'As per Invoice' %})</th>
                    <th rowspan="2" class="span2">{% trans 'Remarks' %}</th>
                    <th rowspan="2" class="hidden-print"></th>
                </tr>
                <tr>
                    <th>{% trans 'Rate per Unit' %}</th>
                    <th>{% trans 'VAT' %} {% trans 'per' %} {% trans 'Unit' %}</th>
                    <th>{% trans 'Unit' %} {% trans 'Price' %}</th>
                    <th>{% trans 'Other' %} {% trans 'Expenses' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
                </thead>

                <tbody id="tbody">
                {% for row in object.rows.all %}
                <tr>
                    <td>
                        <span>{{ row.sn |localize}}</span>
                    </td>
                    <td>{{ row.item.account.account_no |localize}}</td>
                    <td>{{ row.item.property_classification_reference_number |localize }}</td>
                    <td>{{ row.item }}
                    </td>
                    <td>{{ row.specification }}</td>
                    <td>{{ row.unit }}</td>
                    <td>{{ row.quantity |localize }}</td>
                    <td>{{ row.rate |localize }}</td>
                    <td>{{ row.vattable_amount |localize }}</td>
                    <td>{{ row.unit_price |localize }}</td>
                    <td>{{ row.other_expenses |localize }}</td>
                    <td>{{ row.total }}</td>
                    <td class="remarks-cell">{{ row.remarks }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

    <div>
        {% if object.source|get_class == 'PurchaseOrder' %}
            माथि उल्लेखित सामानहरु खरिद आदेश नम्बर <b>{{ object.source.order_no|localize }}</b> मिति
            <b>{{ object.source.date|localize }}</b>
            अनुसार श्री
            {{ object.source.party }} बाट प्राप्त हुन आएको हुँदा जाँची गन्ती गरी हेर्दा ठीक दुरुस्त भएकोले खातामा
            आम्दानी
            बाँधेको प्रमाणित गर्दछु ।
        {% else %}
            माथि उल्लेखित सामानहरु हस्तान्तरण फारम नम्बर<b>{{ object.source.voucher_no|localize }}</b> मिति
            <b>{{ object.source.date|localize }}</b>
            अनुसार श्री
            .................................................. बाट प्राप्त हुन आएको हुँदा जाँची गन्ती गरी हेर्दा ठीक दुरुस्त
            भएकोले खातामा
            आम्दानी
            बाँधेको प्रमाणित गर्दछु ।
        {% endif %}
    </div>
    <br>
    <div class="row ">
        <div class="col-lg-4 col-sm-4 col-xs-4">
            {% trans "Faantwaala's" %} {% trans 'Signature' %}:
            <br>
            {% trans 'Name' %}:<br>
            {% trans 'Designation' %}:<br>
            {% trans 'Date' %}:
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
            {% trans "Signature of Verifying Section Head" %}:
            <br>
            {% trans 'Name' %}:<br>
            {% trans 'Designation' %}:<br>
            {% trans 'Date' %}
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
            {% trans "Signature of Head of Office" %}:
            <br>
            {% trans 'Name' %}:<br>
            {% trans 'Designation' %}:<br>
            {% trans 'Date' %}:
        </div>
    </div>

{% endblock %}