{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block title %} {% trans 'Acquisition' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <span> {% trans 'Acquisition' %}</span>
{% endblock %}

{% block head_end %}
    <script src="{% static 'js/ils/acquisition1.js' %}"></script>
    <script src="{% static 'js/selectize_custom_binding.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}
{% block content %}
<form class="isbn-form" method="get" action="{% url 'acq' %}">
     <label id="id_isbn13" class="record-isbn13">ISBN13</label>
    {{ rr_form.isbn13 }}
    <input type="submit" class="button" value="Get">
</form>

<form class="acquision-form" enctype="multipart/form-data" method="post" action="{% url 'acq' %}">
    {% csrf_token %}
    <!-- Either first or second -->
    
    {{ rr_form }}

     <input type="submit" class="button" value="save">
</form>
{% endblock %}



