{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}


{% block title %} {% trans 'Incoming' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <li><span> <a href="{% url 'view_record' pk=form.instance.record.id %}">{{ form.instance.record }}</a></span></li>
    <li><span> {% trans 'Incoming' %}</span></li>
{% endblock %}

{% block head_end %}
    <script>
        ko_data = {{data|jsonify}};
    </script>
    <script src="{% static 'js/ils/incoming.js' %}"></script>
{% endblock %}

{% block content %}

    <form method="post">
    {% csrf_token %}

    <div class="well">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="id_user"> {% trans "Patron" %}:</label>
            {{ form.user }}
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for= "id_record"> {% trans "Item" %}:</label >
            {{ form.record }}
        </div>
    </div >
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <label for= "borrow_date"> {% trans "Borrow Date" %} </label>
            {{ form.borrow_date }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <label for= "due_date"> {% trans "Due Date" %} </label>
            {{ form.due_date }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <label for= "return_date"> {% trans "Return Date" %} </label >
            {{ form.return_date }}
        </div >
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">        
            <label for= "fine_per_day"> {% trans "Fine perDay" %} </label >
            {{ form.fine_per_day }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <label for= "total_fine"> {% trans "Total Fine" %} </label>
            <input type="text" class="form-control" disabled data-bind="value: total_fine()">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <label for= "fine_paid"> {% trans "Fine Paid" %} </label>
            {{ form.fine_paid }}
        </div>
    </div>
    </div>
    <input type="submit" value="Return!" class="btn btn-info btn-raised btn-lg">
    </form>

{% endblock %}