{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} {% trans "Search" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><span> {% trans "Search" %}</span></li>
{% endblock %}

{% block content %}
    {{ form.errors }}

    <form class="library-search" method="get" action="{% url 'search' %}">
    <div class="well">
        {{ form.as_p }}
    </div>
        <input type="submit" value="Search!" class="btn btn-info btn-raised">

    </form>

    {% if request.GET %}
        <div class="well">
        {{ form.search.count }} {% trans "results" %}
        </div>
        <ul class="records">
            {% for item in form.search %}

                {% if item.model_name == 'record' %}
                  <div class="well">

                    <li>
                        {% with item.object as  record %}
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    {% if record.get_small_cover %}
                                        <a href="{{ record.get_absolute_url }}">
                                            {% thumbnail record.get_small_cover "40x60" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                            {% endthumbnail %}
                                        </a>
                                    {% else %}
                                        <a href="{{ record.get_absolute_url }}">
                                            <img src="{% static 'img/no_cover-40x60.png' %}"></a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <a href="{{ record.get_absolute_url }}"><h3>{{ record }}</h3></a>
                                    <h5>
                                        {% if record.authors.all %}
                                            {% trans "by" %} {% for author in record.authors.all %}
                                            {{ author|linkify }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        {% if record.publisher or record.published_date %}
                                            {% trans "Published" %}
                                            {% if record.published_date %}
                                                {{ record.published_date }}
                                            {% endif %}
                                            {% if record.publisher %}
                                                {% trans "by" %} {{ record.publisher|linkify }}
                                            {% endif %}
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                </div>
                            </div>
                        {% endwith %}
                    </li>
                   </div>
                {% else %}
                <div class="well">
                    <li class="link">
                        {{ item.object|linkify }}
                    </li>
                </div>
                {% endif %}

                <br/>
            {% endfor %}
        </ol>
    {% endif %}




{% endblock %}