{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block title %} {% trans 'Integrated Library System' %}{% endblock %}

{% block content %}
<div class="well">
    <div class="row">
        <div class="col-sm-12">
    <div class="dashboard">

        <div>
            <a href="{% url 'list_records' %}">
                <img src="{% static 'img/icons/book.png' %}">
                {% trans "Books" %}</a>
        </div>
        {% ifusergroup 'Librarian' %}
            <div>
                <a href="{% url 'list_patrons' %}">
                    <img src="{% static 'img/icons/user.png' %}">
                    {% trans "Patrons" %}</a>
            </div>
        {% endifusergroup %}
        <div>
            <a href="{% url 'list_authors' %}">
                <img src="{% static 'img/icons/write.png' %}">
                {% trans "Authors" %}</a>
        </div>
        <div>
            <a href="{% url 'list_publishers' %}">
                <img src="{% static 'img/icons/print.png' %}">
                {% trans "Publishers" %}</a>
        </div>

        <div>
            <a href="{% url 'list_ebooks' %}">
                <img src="{% static 'img/icons/ebook.png' %}" width="150px" height="150px">
                {% trans "Ebooks" %}</a>
        </div>

        {% ifusergroup 'Librarian' %}
            <div>
                <a href="{% url 'list_transactions' %}">
                    <img src="{% static 'img/icons/import.png' %}">
                    {% trans "Transactions" %}</a>
            </div>

            <div>
                <a href="{% url 'acq' %}">
                    <img src="{% static 'img/icons/download.png' %}">
                    {% trans "Acquisition" %}</a>
            </div>
            <div>
                <a href="{% url 'outgoing' %}">
                    <img src="{% static 'img/icons/export.png' %}">
                    {% trans "Checkout" %}</a>
            </div>
        {% endifusergroup %}
    </div>

    <div class="dashboard-search">
        <form method="get" action="{% url 'search' %}">

            <input type="text" name="q" id="id_q" class="form-control" placeholder="Search">

            {{ form.models }}

            {#            {{ form.as_p }}#}

            <input type="submit" value="Search!" class="btn btn-default btn-raised">

        </form>
    </div>
            
        </div>
    </div>
</div>


{% endblock %}