{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {% trans 'Publishers' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <li><span> {% trans 'Publishers' %}</span></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}
    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}
    <div class="well">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% anchor id 'Publisher' %}</th>
            <th>{% trans "Book Editions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in paginated_objects %}
            <tr>
                <td class="link"> {{ obj|linkify }}</td>
                <td>{{ obj.record_set.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% paginate %}


{% endblock %}