{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {% trans 'Patrons' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <li><span> {% trans 'Patrons' %}</span></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}


    <a class="btn btn-default btn-lg" href="{% url 'add_patron' %}">+ {% trans "Add New Patron" %}</a>
    <br><br>
    {% autosort patrons as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{% anchor id 'Patron' %}</th>
            <th>{% trans "Total Borrowed" %}</th>
            <th>{% trans "Not Returned" %}</th>
            <th>{% trans "Past Due" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for patron in paginated_objects %}
            <tr>
                <td><a href="{% url 'view_patron' pk=patron.id %}">{{ patron }}</a></td>
                <td>{{ patron.transactions.count }}</td>
                <td>{{ patron.not_returned.count }}</td>
                <td>{{ patron.past_due.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}


{% endblock %}