{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {% trans 'Authors' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><span> {% trans 'Authors' %}</span></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}
    {% autosort authors as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{% anchor id 'Author' %}</th>
            <th>{% trans "Book Editions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in paginated_objects %}
            <tr>
                <td class="link"> {{ obj|linkify }}</td>
                <td>{{ obj.record_set.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}


{% endblock %}