{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} {% trans 'Books' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <li><span> {% trans 'Books' %}</span></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}
    {% autosort records as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="pull-right">
        {% trans "Sort by" %} {% anchor date_of_publication 'Published Date' %} | {% anchor publisher %} |
    </div>

    <ul class="records">
        {% for record in paginated_objects %}
            <li>
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        {% if record.get_small_cover %}
                            <a href="{{ record.get_absolute_url }}">
                                {% thumbnail record.get_small_cover "40x60" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                        {% else %}
                            <a href="{{ record.get_absolute_url }}">

                                <img src="{% static 'img/no_cover-40x60.png' %}"></a>
                        {% endif %}
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <a href="{{ record.get_absolute_url }}"><h3>{{ record }}</h3></a>
                        <h5>
                            {% if record.authors.all %}
                                {% trans "by" %} {% for author in record.authors.all %}
                                {{ author|linkify }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if record.publisher or record.date_of_publication %}
                                {% trans "Published" %}
                                {% if record.date_of_publication %}
                                    {{ record.date_of_publication }}
                                {% endif %}
                                {% if record.publisher %}
                                    {% trans "by" %} {{ record.publisher|linkify }}
                                {% endif %}
                            {% endif %}
                        </h5>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% paginate %}


{% endblock %}