{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}


{% block title %} {{ scenario }} {% trans "Patron" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_patrons' %}">{% trans "Patrons" %}</a></li>
    <li><span> {{ scenario }} {% trans "Patron" %}</span></li>
{% endblock %}

{% block content %}
    {{ form.errors }}

    <form method="POST">
        {% csrf_token %}
        <div class="well">

        <p><label for="id_username">{% trans "Username" %}:</label>
            {{ form.username }}
        </p>

        <p><label for="id_full_name">{% trans "Full Name" %}:</label>
            {{ form.full_name }}
        </p>

        <p><label for="id_email">{% trans "Email Address" %}:</label>
            {{ form.email }}
        </p>

        <p><label for="id_password">{% trans "Password" %}:</label>
            <input class="form-control" type="password" name="password" maxlength="128" id="id_password">
        </p>

        <p><label for="id_password1">{% trans "Password Again" %}:</label>
            <input class="form-control" type="password" name="password1" maxlength="128" id="id_password1">
        </p>
        </div>
        <input type="submit" value="Save!" class="btn btn-info btn-raised btn-lg">

    </form>



{% endblock %}