{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} {{ record }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_records' %}">{% trans "Books" %}</a></li>
    <li><span> {{ record }}</span></li>
{% endblock %}

{% block head_end %}
    {#    <script src="{% static 'js/ils/view_record.js' %}"></script>#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ils/view_record.css' %}">
{% endblock %}
{% block content %}


    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            {% if record.get_medium_cover %}
                <a href="{{ MEDIA_URL }}{{ record.get_large_cover }}" target="_blank" class='th'>
{#                    <img src="{{ MEDIA_URL }}{{ record.medium_cover }}">#}
                    {% thumbnail record.get_medium_cover "180x280" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </a>
            {% endif %}
        </div>

        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
            <h1 id="book-title">{{ record.book.title }}
                <small>{% if record.book.subtitle %}
                    {{ record.book.subtitle }}
                {% endif %}
                </small>
                {% ifusergroup 'Librarian' %}
                    <a class="btn btn-default" href="{% url 'edit_book' record.id %}">{% trans "EDIT" %}</a>
                {% endifusergroup %}
            </h1>
            <p id="text-by"><em>{% trans "by" %}</em>
                {% for author in record.authors.all %}
                    {{ author|linkify }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <p>
                {% if record.publisher or record.published_date or record.published_places.all %}
                    <em>{% trans "Published on" %}</em>
                    {% if record.date_of_publication %}
                        {{ record.date_of_publication }}
                    {% endif %}
                    {% if record.publisher %}
                        {% trans "by" %} {{ record.publisher|linkify }}
                    {% endif %}
                    {% if record.published_places.all %}
                        {% trans "in" %} {{ record.published_places.all|join:', ' }}
                    {% endif %}
                {% endif %}

            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">

            <table id="book-detail">
                <tbody>

                {% if record.isbn13 %}
                    <tr>
                        <th>{% trans "ISBN" %}</th>
                        <td>{{ record.isbn13 }}</td>
                    </tr>
                {% endif %}

                {% if record.pagination %}
                    <tr>
                        <th>{% trans "Pagination" %}</th>
                        <td>{{ record.pagination }}</td>
                    </tr>
                {% endif %}

                {% if record.openlibrary_id %}
                    <tr>
                        <th>{% trans "OpenLibrary" %}</th>
                        <td>
                            <a target="_blank"
                               href="https//openlibrary.org/books/{{ record.openlibrary_id }}/">{{ record.openlibrary_id }}</a>
                        </td>
                    </tr>
                {% endif %}

                {% if record.goodreads_id %}
                    <tr>
                        <th>{% trans "Goodreads" %}</th>
                        <td><a target="_blank"
                               href="http//www.goodreads.com/book/show/{{ record.goodreads_id }}">{{ record.goodreads_id }}</a>
                        </td>
                    </tr>
                {% endif %}

                {% if record.lccn_id %}
                    <tr>
                        <th>{% trans "Library of Congress Control Number" %}</th>
                        <td><a target="_blank"
                               href="http//lccn.loc.gov/{{ record.lccn_id }}">{{ record.lccn_id }}</a></td>
                    </tr>
                {% endif %}

                {% if record.oclc_id %}
                    <tr>
                        <th>{% trans "OCLC WorldCat" %}</th>
                        <td><a target="_blank"
                               href="http//www.worldcat.org/oclc/{{ record.oclc_id }}?tab=details">{{ record.oclc_id }}</a>
                        </td>
                    </tr>
                {% endif %}

                {% if record.librarything_id %}
                    <tr>
                        <th>{% trans "LibraryThing" %}</th>
                        <td><a target="_blank"
                               href="http//www.librarything.com/work/{{ record.librarything_id }}">{{ record.librarything_id }}</a>
                        </td>
                    </tr>
                {% endif %}

                {% if record.format %}
                    <tr>
                        <th>{% trans "Format" %}</th>
                        <td>
                            {{ record.format }}
                        </td>
                    </tr>
                {% endif %}

                {% if record.format != 'eBook' %}
                    {% if record.type %}
                        <tr>
                            <th>{% trans "Type" %}</th>
                            <td>{{ record.type }}</td>
                        </tr>
                    {% endif %}
                {% endif %}

                {% if record.weight %}
                    <tr>
                        <th>{% trans "Weight" %}</th>
                        <td>{{ record.weight }}</td>
                    </tr>
                {% endif %}

                {% if record.dimensions %}
                    <tr>
                        <th>{% trans "Dimensions" %}</th>
                        <td>{{ record.dimensions }}</td>
                    </tr>
                {% endif %}

                {% if record.lcc %}
                    <tr>
                        <th>{% trans "Library of Congress Classification" %}</th>
                        <td>{{ record.lcc }}</td>
                    </tr>
                {% endif %}

                {% if record.ddc %}
                    <tr>
                        <th>{% trans "Dewey Decimal Class" %}</th>
                        <td>{{ record.ddc }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            {% if record.format != 'eBook' %}
                {% ifusergroup 'Librarian' %}
                    <table id="circulation-detail">
                        <tr>
                            <th>{% trans "Total" %}</th>
                            <td>{{ record.quantity }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "In Circulation" %}</th>
                            <td>{{ record.in_circulation.count }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Available" %}</th>
                            <td>{{ record.quantity|subtract:record.in_circulation.count }}</td>
                        </tr>
                        {% if record.type == 'Circulative' %}
                            {% if record.quantity|subtract:record.in_circulation.count > 0 %}
                                <tr>
                                    <th colspan="2">
                                        <a href="{% url 'outgoing' pk=record.id %}">{% trans "Checkout" %}</a>
                                    </th>
                                </tr>
                            {% endif %}
                        {% endif %}
                    </table>
                {% endifusergroup %}
            {% endif %}

            {% if record.ebooks %}
                <table>
                    <tbody>
                    <tr>
                        <th>{% trans "E-books" %}</th>
                    </tr>
                    <tr>
                        <td>
                            {% for ebook in record.ebooks %}
                                <a href="{{ MEDIA_URL }}{{ ebook.file }}">{{ ebook.format }}</a>
                                {% if not forloop.last %} | {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if record.excerpt %}
                <blockquote>
                    {{ record.excerpt }}
                </blockquote>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            {% if record.notes %}
                <strong>{% trans "Notes" %}: </strong><em>{{ record.notes }}</em>
            {% endif %}
        </div>
    </div>


    <br>
    <div class="row">
        <div id="transactions" class="col-sm-12">


            {% if record.format != 'eBook' %}
                {% ifusergroup 'Librarian' %}
                    <h3>{% trans "Transactions" %}</h3>


                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>{% anchor user_id 'Patron' %}</th>
                            <th>{% anchor borrow_date 'Borrow Date' %}</th>
                            <th>{% anchor due_date 'Due Date' %}</th>
                            <th>{% anchor return_date 'Return Date' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% autosort transactions as sorted_objects %}
                        {% autopaginate sorted_objects 20 as paginated_objects %}
                        {% for transaction in paginated_objects %}
                            <tr>
                                <td><a href="{% url 'view_patron' pk=transaction.user.id %}">{{ transaction.user }}</a>
                                </td>
                                <td>{{ transaction.borrow_date }}</td>
                                <td>{{ transaction.due_date }}</td>
                                <td> {% if transaction.return_date %}
                                    {{ transaction.return_date }}
                                {% else %}

                                    <a href="{% url 'incoming' transaction_pk=transaction.id %}">{% trans "Return" %}</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% paginate %}

                {% endifusergroup %}
            {% endif %}

        </div>
    </div>


{% endblock %}