{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} {{ publisher }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_publishers' %}">{% trans "Publishers" %}</a></li>
    <li><span> {{ publisher }}</span></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <h3>{% trans "Books published by" %} {{ publisher }}</h3>
    <div class="well">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    {% trans "Sort by" %} {% anchor date_of_publication 'Published Date' %} | {% anchor author %}
                </div>
            </div>
        </div>
    </div>

    {% autosort publisher.record_set.all as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <ul class="records">
        {% for record in paginated_objects %}
        <div class="well">
            <li>
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        {% if record.get_small_cover %}
                            <a href="{{ record.get_absolute_url }}">
                            {#                                <img src="{{ MEDIA_URL }}{{ record.small_cover }}"></a>#}
                            {% thumbnail record.get_small_cover "40x60" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        {% else %}
                            <a href="{{ record.get_absolute_url }}">
                                <img src="{% static 'img/no_cover-40x60.png' %}"></a>
                        {% endif %}
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <a href="{{ record.get_absolute_url }}"><h3>{{ record }}</h3></a>
                        {% if record.authors.all %}
                            <h5>{% trans "by" %} {% for author in record.authors.all %}
                                {{ author|linkify }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                                {% if record.published_date or record.published_places.all %}
                                    , {% trans "published" %}
                                    {% if record.published_date %}
                                        {{ record.published_date }}
                                    {% endif %}
                                    {% if record.published_places.all %}
                                        {% trans "in" %} {{ record.published_places.all|join:', ' }}
                                    {% endif %}
                                {% endif %}
                            </h5>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    </div>
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>
    {% paginate %}

{% endblock %}