{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} {{ author }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_authors' %}">{% trans "Authors" %}</a></li>
    <li><span> {{ author }}</span></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <h3>{% trans "Books written by" %} {{ author }}</h3>
    <div class="well">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    {% trans "Sort by" %} {% anchor date_of_publication 'Published Date' %} | {% anchor publisher %}
                </div>
            </div>
        </div>
    </div>

    {% autosort author.record_set.all as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <ul class="records">
        {% for record in paginated_objects %}
            <li>
            <div class="well">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        {% if record.get_small_cover %}
                            <a href="{{ record.get_absolute_url }}">
                            {% thumbnail record.get_small_cover "40x60" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        {% else %}
                            <a href="{{ record.get_absolute_url }}">
                                <img src="{% static 'img/no_cover-40x60.png' %}"></a>
                        {% endif %}
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <h3><a href="{{ record.get_absolute_url }}">{{ record }}</a></h3>
                        {% if record.publisher or record.published_date or record.published_places.all %}
                            {% trans "Published" %}
                            {% if record.published_date %}
                                {{ record.published_date }}
                            {% endif %}
                            {% if record.publisher %}
                                {% trans "by" %} {{ record.publisher|linkify }}
                            {% endif %}
                            {% if record.published_places.all %}
                                {% trans "in" %} {{ record.published_places.all|join:', ' }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    </div>
                </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% paginate %}

{% endblock %}