{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {{ patron }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_patrons' %}">{% trans "Patrons" %}</a></li>
    <li><span> {{ patron }}</span></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <h3>{{ patron }}</h3>
    <div class="well">
    <table class="table table-striped ">
        <thead>
        <tr>
            <th>{% trans "Total Borrowed" %}</th>
            <th>{% trans "Not Returned" %}</th>
            <th>{% trans "Past Due" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ patron.transactions.count }}</td>
            <td>{{ patron.not_returned.count }}</td>
            <td>{{ patron.past_due.count }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    {% autosort transactions as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <h3>{% trans "Transactions" %}</h3>

    <div class="transactions">
        <div class="well">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% anchor record_id 'Book' %}</th>
                <th>{% anchor borrow_date 'Borrow Date' %}</th>
                <th>{% anchor due_date 'Due Date' %}</th>
                <th>{% anchor return_date 'Return Date' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in paginated_objects %}
                <tr>
                    <td class="link">{{ transaction.record|linkify }}</td>
                    <td>{{ transaction.borrow_date }}</td>
                    <td>{{ transaction.due_date }}</td>
                    <td> {% if transaction.return_date %}
                        {{ transaction.return_date }}
                    {% else %}

                        <a href="{% url 'incoming' transaction_pk=transaction.id %}">{% trans "Return" %}</a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% paginate %}
    </div>

{% endblock %}