{% extends "inventory_base.html" %}
{% load i18n %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{{ object }}</li>
{% endblock %}

{% block content %}

    <h1>{{ form.instance.instance }}</h1>

    <div>
    {% trans 'Current' %} {% trans 'User' %} : {{ form.instance.from_user }}
    </div>
    <div>
    {% trans 'Current' %} {% trans 'Location' %} : {{ form.instance.from_location }}
    </div>

<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Save' %}" class="btn">

    </form>

{% endblock %}