{% extends "inventory_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Locations' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "itemlocation_list" %}">{% trans 'Locations' %}</a></li>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}
    <div class="well">
        <table class="table table-striped">
            <thead>
            <th>{% anchor name _('Name') %}</th>
            <th>{% anchor name _('Total Items') %}</th>
            <th>{% anchor name _('Total Distinct Items') %}</th>
            <th>{% anchor name _('Total Worth') %}</th>
            <th>{% trans 'Remarks' %}</th>
            <th></th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr>
                    <td class="link">
                        <a href="{% url 'itemlocation_detail' item.id %}">{{ item }}</a>
                    </td>
                    <td>{{ item.total_items |default:'' }}</td>
                    <td>{{ item.distinct_items |default:'' }}</td>
                    <td>{{ item.total_worth |default:'' }}</td>
                    <td>{{ item.remarks |default:'' }}</td>
                    <td><a href="{% url "update_item_location" item.id %}">{% trans 'Edit' %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    <a class="btn btn-success btn-raised btn-lg"
       href="{% url 'create_item_location' %}">{% trans 'New' %} {% trans 'Item' %} {% trans 'Location' %}</a>

{% endblock %}