{% extends "inventory_base.html" %}
{% load i18n %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "itemlocation_list" %}">{% trans 'Locations' %}</a></li>
    <li>{{ object }}</li>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    <h1>{% trans 'All' %}</h1>
    <div class="well">
    <table class="table table-striped ">
        <thead>
        <tr>
            <th class="text-center" colspan="2">{{ object }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Items' %}</th>
            <td>{{ all_instances.count |localize }}</td>
        </tr>
        <tr>
            <th>{% trans 'Distinct' %} {% trans 'Items' %}</th>
            <td> {{ instances.count |localize }}</td>
        </tr>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Worth' %}</th>
            <td> {{ grand_total |localize }}</td>
        </tr>
        </tbody>

    </table>
    </div>

    <h3>{% trans 'Non-consumable' %} {% trans 'Items' %}</h3>
    <div class="well">
    <table class="table table-striped ">
        <thead>
        <tr>
            <th class="text-center" colspan="2">{{ object }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Items' %}</th>
            <td>{{ non_consumable_all_instances.count |localize }}</td>
        </tr>
        <tr>
            <th>{% trans 'Distinct' %} {% trans 'Items' %}</th>
            <td> {{ non_consumable_instances.count |localize }}</td>
        </tr>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Worth' %}</th>
            <td> {{ non_consumable_grand_total |localize }}</td>
        </tr>
        </tbody>

    </table>
    </div>
    {% autopaginate non_consumable_instances 25 as paginated_non_consumable_instances %}

    <h4>{% trans 'Items' %}</h4>
    <div class="well">
    <table class="table table-striped ">
        <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Total' %} {% trans 'Count' %}</th>
        <th>{% trans 'Worth' %}</th>
        </thead>
        <tbody>
        {% for instance in paginated_non_consumable_instances %}
            <tr>
                <td>
                    <a href="{% url 'update_inventory_item' instance.item %}">{{ instance.item__name }}</a>
                </td>
                <td>{{ instance.total_count |localize }}</td>
                <td>{{ instance.total_value |localize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% paginate %}

    <h4>{% trans 'Instances' %}</h4>

    {% autopaginate non_consumable_all_instances 25 as paginated_non_consumable_all_instances %}
    <div class="well">
    <table class="table table-striped ">
        <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Rate' %}</th>
        <th class="hidden-print"></th>
        </thead>
        <tbody>
        {% for instance in paginated_non_consumable_all_instances %}
            <tr>
                <td>
                    <a href="{% url 'iteminstance_history' instance.id %}">{{ instance.item }}</a>
                </td>
                <td>{{ instance.item_rate |localize }}</td>
                <td class="hidden-print">
                    {% if object.name != 'Store' %}
                        <a class="btn btn-danger"
                           href="{% url 'return_to_store' instance.id %}?next={% url 'itemlocation_detail' object.id %}">{% trans 'Return to Store' %}</a>
                    {% endif %}
                    <a class="btn btn-primary"
                       href="{% url 'iteminstance_expense' instance.id %}?next={% url 'itemlocation_detail' object.id %}">{% trans 'Expense' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% paginate %}

    <h1>{% trans 'Consumable' %}</h1>
    <div class="well">
    <table class="table table-striped ">
        <thead>
        <tr>
            <th class="text-center" colspan="2">{{ object }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Items' %}</th>
            <td>{{ consumable_all_instances.count |localize }}</td>
        </tr>
        <tr>
            <th>{% trans 'Distinct' %} {% trans 'Items' %}</th>
            <td> {{ consumable_instances.count |localize }}</td>
        </tr>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Worth' %}</th>
            <td> {{ consumable_grand_total |localize }}</td>
        </tr>
        </tbody>

    </table>
    </div>
    {% autopaginate consumable_instances 25 as paginated_consumable_instances %}
    <div class="well">
    <table class="table table-striped ">
        <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Total' %} {% trans 'Count' %}</th>
        <th>{% trans 'Worth' %}</th>
        </thead>
        <tbody>
        {% for instance in paginated_consumable_instances %}
            <tr>
                <td>
                    <a href="{% url 'update_inventory_item' instance.item %}">{{ instance.item__name }}</a>
                </td>
                <td>{{ instance.total_count |localize }}</td>
                <td>{{ instance.total_value |localize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% paginate %}

{% endblock %}