{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NERP | Activation</title>
    <script src="{% static 'js/vendors/jquery.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#request-key-btn").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: "{% url 'send_key_request' %}",
                    success: function (result) {
                        if (result.success) {
                            $("#request-key-result").html(result.success);
                            $("#request-key-result").css({'color': 'green'});
                        } else {
                            $("#request-key-result").html(result.error);
                            $("#request-key-result").css({'color': 'red'});
                        }
                    }
                });
            });
        });

    </script>
    <style>
        .wrapper {
            text-align: center;
            padding: 2em;
        }
        form{
            margin-top: 2em;
        }
        #activation_key{
            width: 400px;    
        }
    </style>
</head>

<body>
<div class="wrapper">
    <h2>{{ error }}</h2>

    <input type="submit" value="Request Key" id="request-key-btn">
    <div id="request-key-result"></div>
    
    <form action="">
        <label for="activation_key">Activation Key</label>
        <input id="activation_key" type="text">
        <input type="submit">
    </form>
    
</div>

</body>
</html>