{% extends "inventory_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block title %}{% trans scenario %} {% trans 'Demand Form' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a></li>
    <li><span> {% trans scenario %} {% trans 'Demand Form' %}</span></li>
{% endblock %}

{% block head_end %}
    <script src="{% static 'js/inventory/demand_form.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}
    <div class="visible-print-block form-header">
        <span class="pull-right">{% trans 'FCGO' %} {% trans 'F.N.' %} {% trans '5' %}{% trans '1' %}</span>
        <br/>
        <h4 class="text-center">{{ 'core.models.app_setting.header_for_forms'|setting|linebreaks }}</h4>
        <h4 class="text-center">{% trans 'Demand Form' %}</h4>
    </div>


    <form method="post" enctype="multipart/form-data" data-bind="submit: save" name="demand-form">
        {% csrf_token %}


        <span class="visible-print-block">
        श्री प्रमुख,<br/>
        भण्डार शाखा
        </span>

        <div class="row">

                <span class="col-lg-6 col-sm-6">
                    {% ifusergroup 'Store Keeper' 'Chief' %}
                        {% trans 'Release No.' %}:
                        <input type="text" class="inline form-control" name="release_no" id="id_release_no"
                               data-bind="value: release_no, localize: true" required>
                        {{ form.release_no.errors }}
                        <br>
                    {% else %}
                        <div class="visible-print-inline">{% trans 'Release No.' %}: <span data-bind="text: release_no"></span>
                        </div>
                    {% endifusergroup %}
                </span>

                <span class="col-sm-6 visible-print-inline pull-right text-right">
                        {% trans 'Fiscal Year' %}:
                        {{ 'core.models.app_setting.fiscal_year'|setting|localize }}
                </span>

        </div>

        <div data-bind="with:table_view">

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <th class="span1">{% trans 'SN' %}</th>
                    <th class="span2">{% trans 'Item Name' %}</th>
                    <th class="span2">{% trans 'Specification' %}</th>
                    <th class="span3">{% trans 'Item Quantity' %}</th>
                    <th class="span3">{% trans 'Unit' %}</th>
                    <th class="span3 hidden-print">{% trans 'Purpose' %}</th>

                    <th
                            {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}>{% trans 'Released Item Quantity' %}</th>


                    <th
                            {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}>{% trans 'Inventory Account No.' %}</th>
                    <th
                            {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}>{% trans 'Remarks' %}</th>
                    <th class="span1 hidden-print"></th>
                </tr>
                </thead>

                <tbody id="tbody">
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <span data-bind="text:  $index()+1, localize: true"> </span>
                    </td>
                    <td>
                        <select data-bind="selectize: $root.items, value: item_id, object: item"
                                data-url="{% url 'create_inventory_item' %}"
                                data-script="/static/js/inventory/item.js"></select>
                    </td>
                    <td data-bind="editableText: specification, disable_content_editable: status() != 'Requested'"></td>
                    <td data-bind="editableText: quantity, localize: true, disable_content_editable: status() != 'Requested'"></td>
                    <td data-bind="editableText: unit, disable_content_editable: status() != 'Requested'"></td>
                    <td class="hidden-print"
                        data-bind="editableText: purpose, disable_content_editable: status() != 'Requested'"></td>

                    <td {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}>
                        <div class="btn-group">

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    data-bind="text: total_release(), event: {focus: release_focused}, localize: 1"
                                    aria-haspopup="true">
                            </button>


                            <div class="dropdown-menu release-dropdown pad">
                                <!-- ko if: release_vms().length -->
                                <h2>{% trans 'Current' %} {% trans 'Release' %}</h2>
                                <table id="release-table" class="table table-bordered table-striped">
                                    <thead>
                                    <th>{% trans 'Properties' %}</th>
                                    <th>{% trans 'Rate' %}</th>
                                    <th>{% trans 'Quantity' %}</th>
                                    <th>{% trans 'Location' %}</th>
                                    <th></th>
                                    </thead>

                                    <tbody>
                                    <!-- ko foreach: release_vms -->
                                    <tr>
                                        <td data-bind="text:property_str"></td>
                                        <td data-bind="text:rate, localize: 1"></td>
                                        <td data-bind="text:count(), localize: 1"></td>
                                        <td data-bind="text:get_location_name($root.item_locations)"></td>
                                        <td>
                                            <button data-bind="click: $parent.remove">x</button>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    </tbody>
                                </table>
                                <!-- /ko -->
                                <h2>{% trans 'Items in Stock' %}</h2>
                                <table id="group-table" class="table table-bordered table-striped">
                                    <thead>
                                    <th>{% trans 'Properties' %}</th>
                                    <th>{% trans 'Rate' %}</th>
                                    <th>{% trans 'Quantity' %} / <span data-bind="text: total_quantity(), localize: 1"></span>
                                    </th>
                                    <th>{% trans 'Location' %}</th>
                                    <th></th>
                                    </thead>

                                    <tbody>
                                    <!-- ko foreach: groups -->
                                    <!-- ko if: count()>0 -->
                                    <tr>
                                        <td data-bind="text:property_str"></td>
                                        <td data-bind="text:rate, localize: 1"></td>
                                        <td><input type="number" class="form-control"
                                                   data-bind="value:quantity, max: count(), localize: 1"/>/<span
                                                data-bind="text: count(), localize: 1"></span></td>
                                        <td>
                                            <select data-bind="selectize: $root.item_locations_sans_store, value: location_id"></select>
                                        </td>
                                        <td>
                                            <button data-bind="click: $parent.add, enable: valid()">+</button>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    </tbody>
                                </table>

                                <br/>

                            </div>
                            <!-- /ko -->

                        </div>
                    </td>

                    <td {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block" {% endifusergroup %}
                        data-bind="text: localize(inventory_account_id(), window.lang)">
                    </td>
                    <td {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}
                        data-bind="editableText: remarks"></td>

                    <td class="hidden-print">
                        <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                        {% ifusergroup 'Store Keeper' 'Chief' %}
                            <button class="btn btn-default"
                                    data-bind="click: approve, visible: $root.id() && status() == 'Requested'">Approve
                            </button>
                            <button class="btn btn-default"
                                    data-bind="click: disapprove, visible: status() == 'Approved'">
                                Disapprove
                            </button>
                            {#                            <button class="btn btn-default"#}
                            {#                                    data-bind="click: function(data, event) { fulfill($root, data, event) }, visible: status() == 'Approved'">#}
                            {#                                Set as#}
                            {#                                Fulfilled#}
                            {#                            </button>#}
                            <button class="btn btn-default"
                                    data-bind="click: fulfill, visible: status() == 'Approved'">
                                Set as Fulfilled
                            </button>
                            <button class="btn btn-default"
                                    data-bind="click: unfulfill, visible: status() == 'Fulfilled'">Set
                                as Unfulfilled
                            </button>
                        {% endifusergroup %}
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <a class="btn btn-default" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
        </div>
        <br>

        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="visible-print-block">{% trans "Demandee's Signature" %}:-</div>
                <div class="inline-fields">
                    {% trans "Name" %}:-
                    {% ifusergroup 'Store Keeper' 'Chief' %}
                        {{ form.demandee }}
                        {{ form.demandee.errors }}
                    {% else %}
                        {{ form.instance.demandee.full_name }}
                    {% endifusergroup %}

                </div>
                <div>
                    {% trans "Date" %}:-
                    {#                    {{ form.instance.date|date:"Y-m-d" }}#}
                    <input class="form-control" type="text" required="required" name="date" id="id_date"
                           data-bind="value: date, localize: true">
                </div>
                <div>{% trans "Purpose" %}:- {{ form.purpose }}</div>
                <div class="visible-print-block">{% trans "Signature of the one who enters in Inventory Account" %}:-</div>
                <div class="visible-print-block">{% trans "Date" %}:-</div>
            </div>

            <div class="col-lg-6 col-sm-6 col-xs-6 visible-print-block">
                <span>{% trans "(a)" %} {% trans "Buy from market" %}</span><br/>
                <span>{% trans "(b)" %} {% trans "Lend from store" %}</span>

                <div>{% trans "Signature of the orderer" %}:-</div>
                <div>{% trans "Date" %}:-</div>
                <div>{% trans "Signature of the receiver" %}:-</div>
                <div>{% trans "Date" %}:-</div>
            </div>
        </div>

        <br/>

        <input type="submit" class="btn btn-primary btn-lg" value="{% trans 'Save' %}"
                {#               data-bind="visible: $root.status() == 'Requested'"#}
                >
        {% if scenario == 'Update' %}
            <a href="{% url 'convert_demand_form' form.instance.id %}"
               class="btn btn-primary btn-lg">{% trans 'Export as XLS' %}</a>
            <a class="btn btn-danger btn-lg"
               href="{% url 'delete_demand_form' form.instance.id %}">{% trans 'Delete!' %}</a>
        {% endif %}

    </form>

{% endblock %}