{% extends "inventory_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block title %}{% trans scenario %} {% trans 'Demand Form' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a></li>
    <li><span> {% trans scenario %} {% trans 'Demand Form' %}</span></li>
{% endblock %}

{% block head_end %}
    <script src="{% static 'js/inventory/demand_form.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}
    <div class="visible-print-block">
        <span class="right">{% trans 'FCGO' %} {% trans 'F.N.' %} {% trans '5' %}{% trans '1' %}</span>
        <br>

        <h5 class="center">{{ 'core.models.app_setting.header_for_forms'|setting|linebreaks }}</h5>

        <h6 class="center">{% trans 'Demand Form' %}</h6>
        <br>
    </div>


    <form method="post" enctype="multipart/form-data" data-bind="submit: save" name="demand-form" novalidate>
        {% csrf_token %}


        <span class="visible-print-block">श्री प्रमुख,</span>

        <div class="one-line row">
            <span class="col-lg-3 col-sm-3 visible-print-block">
    भण्डार शाखा
            </span>


                <span class="col-lg-6 col-sm-6">
                    {% ifusergroup 'Store Keeper' 'Chief' %}
                        {% trans 'Release No.' %}:
                        <input type="text" class="form-control" name="release_no" id="id_release_no"
                               data-bind="value: release_no, localize: true">
                        {{ form.release_no.errors }}
                        <br>
                    {% else %}
                        <div class="visible-print-block">{% trans 'Release No.' %}: <span data-bind="text: release_no"></span>
                        </div>
                    {% endifusergroup %}
                </span>


            <span class="right col-lg-3 col-sm-3 visible-print-block">
                {% trans 'Fiscal Year' %}:
                {{ 'core.models.app_setting.fiscal_year'|setting|localize }}
            </span>
        </div>

        <div data-bind="with:table_view">

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <th class="span1">{% trans 'SN' %}</th>
                    <th class="span2">{% trans 'Item Name' %}</th>
                    <th class="span2">{% trans 'Specification' %}</th>
                    <th class="span3">{% trans 'Item Quantity' %}</th>
                    <th class="span3">{% trans 'Unit' %}</th>
                    <th class="span3">{% trans 'Purpose' %}</th>

                    <th
                            {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}>{% trans 'Released Item Quantity' %}</th>


                    <th
                            {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}>{% trans 'Inventory Account No.' %}</th>
                    <th
                            {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}>{% trans 'Remarks' %}</th>
                    <th class="span1 hidden-print"></th>
                </tr>
                </thead>

                <tbody id="tbody">
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <span class="wid-pad pull-left" data-bind="text:  $index()+1, localize: true"> </span>
                    </td>
                    <td>
                        <select data-bind="selectize: $root.items, value: item_id, object: item, event: {change: $root.item_changed}"
                                data-url="{% url 'create_inventory_item' %}"
                                data-script="/static/js/inventory/item.js"></select>
                        {#                                                <select class="span12 item-selector"#}
                        {#                                                        data-bind="options: $root.items, optionsText: 'name', optionsValue: 'id', value: item_id, optionsCaption: ' ', event: {change: $root.item_changed}"></select>#}
                        {#                        <input type="hidden" data-url="{% url 'create_inventory_item' %}" class="change-on-ready"#}
                        {#                               data-bind="value: item_id, select2: $root.items, event: {change: $root.item_changed}, readOnly: status() != 'Requested'">#}
                    </td>
                    <td data-bind="editableText: specification, disable_content_editable: status() != 'Requested'"></td>
                    <td data-bind="editableText: quantity, localize: true, disable_content_editable: status() != 'Requested'"></td>
                    <td data-bind="editableText: unit, disable_content_editable: status() != 'Requested'"></td>
                    <td data-bind="editableText: purpose, disable_content_editable: status() != 'Requested'"></td>

                    <td {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}>
                        <div class="btn-group">
                            <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" data-bind="value: total_release">
                            <div class="dropdown-menu" id="demand-drop-menu">
                                <!-- ko if: release_vms().length -->
                                <h2>वर्तमान निकासी </h2>
                                <table id="release-table" class="table table-bordered table-striped">
                                    <thead>
                                        <th>Properties</th>
                                        <th>Rate</th>
                                        <th>Quantity</th>
                                        <th>Location</th>
                                        <th></th>
                                    </thead>

                                    <tbody>
                                        <!-- ko foreach: release_vms -->
                                        <tr>
                                            <td data-bind="text:property_str"></td>
                                            <td data-bind="text:rate"></td>
                                            <td data-bind="text:count()"></td>
                                            <td data-bind="text:get_location_name($root.item_locations)"></td>
                                            <td>
                                                <button data-bind="click: $parent.remove">x</button>
                                            </td>
                                        </tr>
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                                <!-- /ko -->
                                <h2>मौज्दात सामान</h2>
                                <table id="group-table" class="table table-bordered table-striped">
                                    <thead>
                                        <th>Properties</th>
                                        <th>Rate</th>
                                        <th>Quantity/<span data-bind="text: total_quantity()"></span></th>
                                        <th>Location</th>
                                        <th></th>
                                    </thead>

                                    <tbody>
                                        <!-- ko foreach: groups -->
                                        <!-- ko if: count()>0 -->
                                        <tr>
                                            <td data-bind="text:property_str"></td>
                                            <td data-bind="text:rate"></td>
                                            <td><input type="number" required class="form-control"
                                             data-bind="value:quantity, max: count()"/>/<span
                                             data-bind="text: count()"></span></td>
                                             <td>
                                                <select data-bind="selectize: $root.item_locations_sans_store, value: location_id"></select>
                                            </td>
                                            <td>
                                                <button data-bind="click: $parent.add, enable: valid()">+</button>
                                            </td>
                                        </tr>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>

                                <br/>

                            </div>
                            <!-- /ko -->

                        </div>
                    </td>

                    <td {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}
                        data-bind="text: localize(inventory_account_id(), window.lang)">2
                    </td>
                    <td {% ifusergroup 'Store Keeper' 'Chief' %}{% else %}class="visible-print-block"{% endifusergroup %}
                        data-bind="editableText: remarks"></td>

                    <td class="hidden-print">
                        <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                        {% ifusergroup 'Store Keeper' 'Chief' %}
                            <button class="btn btn-default"
                                    data-bind="click: approve, visible: $root.id() && status() == 'Requested'">Approve
                            </button>
                            <button class="btn btn-default"
                                    data-bind="click: disapprove, visible: status() == 'Approved'">
                                Disapprove
                            </button>
                            <button class="btn btn-default"
                                    data-bind="click: function(data, event) { fulfill($root, data, event) }, visible: status() == 'Approved'">
                                Set as
                                Fulfilled
                            </button>
                            <button class="btn btn-default"
                                    data-bind="click: unfulfill, visible: status() == 'Fulfilled'">Set
                                as Unfulfilled
                            </button>
                        {% endifusergroup %}
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <a class="btn btn-default hidden-p" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="visible-print-inline-block">{% trans "Demandee's Signature" %}:-</div>
                <div>
                    {% trans "Name" %}:-
                    {% ifusergroup 'Store Keeper' 'Chief' %}
                        {{ form.demandee }}
                        {{ form.demandee.errors }}
                    {% else %}
                        {{ form.instance.demandee.full_name }}
                    {% endifusergroup %}

                </div>
                <div>
                    {% trans "Date" %}:-
                    {#                    {{ form.instance.date|date:"Y-m-d" }}#}
                    <input class="form-control" type="text" required="required" name="date" id="id_date"
                           data-bind="value: date, localize: true">
                </div>
                <div>{% trans "Purpose" %}:- {{ form.purpose }}</div>
                <div class="visible-print-inline-block">{% trans "Signature of the one who enters in Inventory Account" %}:-</div>
                <div class="visible-print-inline-block">{% trans "Date" %}:-</div>
            </div>

            <div class="col-lg-6 col-sm-6 col-xs-6 visible-print-inline-block">
                <div>{% trans "(a)" %} {% trans "Buy from market" %}</div>
                <div>{% trans "(b)" %} {% trans "Lend from store" %}</div>
                <div>{% trans "Signature of the orderer" %}:-</div>
                <div>{% trans "Date" %}:-</div>
                <div>{% trans "Signature of the receiver" %}:-</div>
                <div>{% trans "Date" %}:-</div>
            </div>
        </div>

        <br/>

        <input type="submit" class="btn btn-primary btn-lg" value="{% trans 'Save' %}"
                {#               data-bind="visible: $root.status() == 'Requested'"#}
                >
        {% if scenario == 'Update' %}
            <a href="{% url 'convert_demand_form' form.instance.id %}"
               class="btn btn-primary btn-lg">{% trans 'Converter to excel' %}</a>
            <a class="btn btn-danger btn-lg"
               href="{% url 'delete_demand_form' form.instance.id %}">{% trans 'Delete!' %}</a>
        {% endif %}

    </form>

{% endblock %}