{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Depreciation' %} {% trans 'Reports' %}{% endblock %}

{% block head_end %}
    <script src="{% static 'js/inventory/depreciation_report.js' %}"></script>
    <script>
        ko_data = {{ data| jsonify }};
    </script>

{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'depreciation_report' %}">{% trans 'Depreciation' %} {% trans 'Reports' %}</a></li>
{% endblock %}

{% block content %}
    <h1 class="center">{% trans 'Depreciation' %} {% trans 'Report' %}</h1>
    <div data-bind="with: table_view">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th rowspan="2">{% trans "Item's Name" %}</th>
                <th rowspan='2'>{% trans 'SN' %}</th>
                <th rowspan='2'>{% trans 'Account No.' %}</th>
                <th colspan='5'>{% trans "Description" %}</th>
                <th colspan='3'>{% trans "Depreciation Rate" %}</th>
                <th colspan="3">{% trans "Decay" %}</th>
                {#                <th colspan='2'>{% trans "Physical condition" %}</th>#}
                {#                <th rowspan='2'>{% trans "Remarks" %}</th>#}
            </tr>
            <tr>
                <th>{% trans "Entry Date" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Unit" %}</th>
                <th>{% trans "Rate" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Rate" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Duration" %}</th>
                <th>{% trans "Value" %}</th>
                <th>{% trans "Current Value" %}</th>
            </tr>
            </thead>
            <tbody>
            <!-- ko foreach: rows -->
            <tr>
                <td data-bind="text: $index()+1, localize: true"></td>
                <td data-bind="text: item_name" class="item_name"></td>
                <td data-bind="text: account_no"></td>
                <td data-bind="text: entry_date"></td>
                <td data-bind="text: total_dr_amount"></td>
                <td data-bind="text: unit"></td>
                <td data-bind="text: rate"></td>
                <td data-bind="text: price"></td>
                <!-- ko with: depreciation -->
                <td data-bind="text: depreciate_type"></td>
                <td>
                    <span data-bind="text: depreciate_value"></span>
                    <span data-bind="visible: (depreciate_type == 'Fixed percentage' || depreciate_type == 'Compound percentage')">%</span>
                </td>
                <td>
                    <span data-bind="text: time"></span>
                    <span data-bind="text: unilarize(time_type)"></span>
                </td>

                {#                <td data-bind="text: time_type"></td>#}
                {#                <td data-bind="text: time_type"></td>#}
                {#                <td data-bind="text: time_type"></td>#}
                <!-- /ko -->
                <td>
                    <span data-bind="text: decay_duration"></span> days
                </td>
                <td data-bind="text: decay_value(), localize:2"></td>
                <td data-bind="text: current_value(), localize:2"></td>
            </tr>
            <!-- /ko -->

            </tbody>
        </table>
    </div>
{% endblock %}