{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Inspection' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'inspection_report_list' %}">{% trans 'Inspection' %} {% trans 'Reports' %}</a></li>
{% endblock %}



{% block content %}
<div class="well">
    <div class="visible-print-block form-header">
        <h4 class="center">{{ 'core.models.app_setting.header_for_forms'|setting|linebreaks }}</h4>
    </div>
    <h1 class='center'>{% trans 'Inspection' %} {% trans 'Report' %}</h1>
    <h4>{% trans "Fiscal Year" %}: {{ obj.fiscal_year }} </h4>
    {% if obj.report_no %}
    <h4>{% trans "Release no" %} : {{ obj.report_no }}</h4>
    {% endif %}
    {% if obj.date %}
    <h4>{% trans "Date" %} : {{ obj.date }}</h4>
    {% endif %}
</div>
<div class="well">
     <table class="table table-bordered"> 
        <thead>
            <tr>
                <th rowspan='2'>{% trans 'SN' %}</th>
                <th rowspan='2'>{% trans 'Inventory Account Page No.' %}</th>
                <th rowspan="2">{% trans 'Inventory Classification Reference No.' %}</th>
                <th rowspan="2">{% trans "Item's Name" %}</th>
                <th colspan='4'>{% trans "Stock from Inventory Account" %}</th>
                <th colspan='2'>{% trans "Specification" %}</th>
                <th colspan='3'>{% trans "While Reviewing Physical State" %}</th>
                <th colspan='2'>{% trans "Physical condition" %}</th>
                <th rowspan='2'>{% trans "Remarks" %}</th>
            </tr>
            <tr>
                <th>{% trans "Unit" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Rate" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Matched number" %}</th>
                <th>{% trans "Unmatched number" %}</th>
                <th>{% trans "Decrement" %}</th>
                <th>{% trans "Increment" %}</th>
                <th>{% trans "Decrement" %}/{% trans "Increment" %} {% trans "Price" %}</th>
                <th>{% trans "Good" %}</th>
                <th>{% trans "Bad" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for o in rows %}
            <tr>
                <td>{{ o.sn|localize }}</td>
                <td>{{ o.account_no|localize }}</td>
                <td>{{ o.property_classification_reference_number|localize }}</td>
                <td>{{ o.item_name }}</td>
                <td>{{ o.unit }}</td>
                <td>{{ o.quantity|floatformat:2|localize }}</td>
                <td>{{ o.rate|floatformat:2|localize }}</td>
                <td>{{ o.price|floatformat:2|localize }}</td>
                {% if o.matched_number %}
                    <td>{{ o.matched_number|localize }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if o.unmatched_number %}
                    <td>{{ o.unmatched_number|localize }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if o.decrement %}
                    <td>{{ o.decrement|localize }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if o.increment %}
                    <td>{{ o.increment|localize }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if o.decrement_increment_price %}
                    <td>{{ o.decrement_increment_price|localize }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if o.good %}
                    <td>{{ o.good |localize}}</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if o.bad %}
                    <td>{{ o.bad |localize}}</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if o.remarks %}
                    <td>{{ o.remarks }}</td>
                {% else %}
                    <td></td>
                {% endif %}
           
        {% endfor %}
        </tbody>
        </table>
</div>
    <a class="btn btn-danger btn-raised btn-lg hidden-print" href="{% url 'delete_inspection_report' obj.id %}">{% trans 'Delete!' %}</a>


{% endblock %}
  