{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Inspections' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'inspection_report_list' %}">{% trans 'Inspection' %} {% trans 'Reports' %}</a></li>
{% endblock %}



{% block content %}
    {% load pagination_tags %}
    {% load sorting_tags %}

    {% autosort obj as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <a href="{% url "inspection_report_list" %}">{% trans "Current Fiscal Year's" %} {% trans 'Inspection' %} {% trans 'Reports' %}</a>
    |
    <a href="{% url "inspection_report_list" %}?year=all">{% trans 'All' %} {% trans 'Inspection' %} {% trans 'Reports' %}</a>
    {% get_fiscal_years as fiscal_years %}
    {% for fiscal_year in fiscal_years %}
        | <a href="{% url "inspection_report_list" %}?year={{ fiscal_year.year }}">{{ fiscal_year }}</a>
    {% endfor %}
    <br/><br/>

    <table class="table table-striped table-bordered">
        <thead>
        <th>{% anchor report_no _('No.') %}</th>
        <th>{% anchor date _('Date') %}</th>
        <th>{% anchor fiscal_year _('Fiscal Year') %}</th>
        </thead>
        <tbody>
        {% for inspection in paginated_objects %}
            <tr>
                <td class="link">
                    <a href="{% url 'inspection_report_detail' inspection.pk %}">{{ inspection.report_no|localize }}</a>
                </td>
                <td class="link">
                    <a href="{% url 'inspection_report_detail' inspection.pk %}">{{ inspection.date|localize }}</a>
                </td>
                <td class="link">
                    <a href="{% url 'inspection_report_detail' inspection.pk %}">{{ inspection.fiscal_year|localize }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="btn btn-default btn-lg"
       href="{% url 'inspection_report' %}">{% trans 'New' %} {% trans 'Inspection' %} {% trans 'Report' %}</a>
{% endblock %}
  