{% extends base_template %}
{% load i18n %}
{% load staticfiles filters%}

{% block title %}{{ scenario }} {% trans 'Inventory' %} {% trans 'Item' %} {% endblock %}
{% block head_end %}
    <script src="{% static 'js/inventory/item.js' %}"></script>
    <script>
        item_data = {{ item_data| jsonify }};
        depreciation_data = {{ depreciation_data|jsonify }}
    </script>

{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_inventory_items" %}">{% trans 'Inventory' %} {% trans 'Items' %}</a>
    <span>{% trans scenario %} {% trans 'Inventory' %} {% trans 'Item' %}</span>
{% endblock %}


{% block content %}
    <ul class="tabs" data-tab id="training-tab">
        <li class="tab-title active"><a href="#basic">Basic</a></li>
        <li class="tab-title"><a href="#depreciation">Depreciation</a></li>
    </ul>

    <div class="tabs-content">
        <div class="content active" id="basic">
            {{ form.non_field_errors }}
            {{ form.errors }}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                <div id="other-properties">
                    <label for="id_other_properties">{% trans "Other properties" %}</label>
                    <div id="id_other_properties" data-bind="foreach: other_properties">
                        <p>
                            <input type="text" id="id_property_name" name="property_name" placeholder="Property name" data-bind="value: property_name"> 
                            <input type="text" id="id_property" name="property" placeholder="Property" data-bind="value: property">
                            <a href="#" class="close tiny secondary" data-bind="click: $parent.removeOtherProperty">x</a>
                        </p>
                    </div>
                    <a class="small secondary button" data-bind="click: addOtherProperty">
                        {% trans 'Add New Row' %}
                    </a>
                </div>
                </p>
                <div class="row">
                    <div class="span12">
                        <button type="submit" value="Submit" class="small secondary button">
                            {% trans 'Submit' %}</button>
                        {% if scenario == 'Update' %}
                            <a class="small secondary button alert"
                               href="{% url 'delete_inventory_item' form.instance.id %}">{% trans 'Delete' %}!</a>
                        {% endif %}
        {#                <a class="small secondary button" target="_blank"#}
        {#                   href="{% url 'create_inventory_category' %}">{% trans 'New' %}#}
        {#                    {% trans 'Inventory' %} {% trans 'Category' %}</a>#}
                    </div>
                </div>
        </div>
        <div class="content" id="depreciation">
            <div id="depreciation">
                {% csrf_token %}
                <div class="row">
                    <div class="medium-2 small-2 column">
                    <label for="id_depreciate_value">Depreciate</label>

                        {{ depreciation_form.depreciate_value }}
                    </div>
                    <div class="medium-2 small-2 column">
                    <label for="id_depreciate_type">Depreciation</label>
                        {{ depreciation_form.depreciate_type }}
                    </div>
                    <div class="medium-8 small-8 column">
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 small-12 column">
                        <label>Every</label>
                    </div>
                </div>                
                <div class="row">
                    <div class="medium-2 small-2 column">
                        {{ depreciation_form.time }}
                    </div>
                    <div class="medium-2 small-2 column">
                    <label for="id_depreciate_type"> </label>

                        {{ depreciation_form.time_type }}
                    </div>
                    <div class="medium-8 small-8 column">
                    </div>
                </div>
            </div>
        </div>
        </form>     
    </div>
{% endblock %}