{% extends "inventory_base.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}
	
{% block head_end %}
    <script src="{% static 'js/inventory/item_instance.js' %}"></script>
    <script>
        item_data = {{ item_data| jsonify }};
    </script>

{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_inventory_items" %}">{% trans 'Inventory' %} {% trans 'Items' %}</a></li>
    <li><span>{% trans scenario %} {% trans 'Inventory' %} {% trans 'Item' %}</span></li>
{% endblock %}

{% block content %}

<form method="POST">
	{% csrf_token %}
    <div class="well">
	{{ form.as_p }}
    <div id="other-properties">
        <label for="id_other_properties">{% trans "Other properties" %}</label>
        <label>
            <a class="btn btn-default btn-raised" data-bind="click: addOtherProperty"><i
                class="fa fa-plus"></i> {% trans 'Add New' %}
            </a>
        </label>

        <div id="id_other_properties" data-bind="foreach: other_properties" class="form-inline">
            <div class="property-row">
                <input type="text" class="form-control test" id="id_property_name" name="property_name" placeholder="Property name" data-bind="value: property_name"> 
                <input type="text" class="form-control" id="id_property" name="property" placeholder="Property" data-bind="value: property">
                <a href="#" class="btn btn-default" data-bind="click: $parent.removeOtherProperty">x</a>
            </div>
        </div>
    </div>

     </div>
            <button type="submit" value="Submit" class="btn btn-info btn-raised">
                {% trans 'Submit' %}</button>
            {% if scenario == 'Update' %}
                <a class="btn btn-danger btn-raised"
                   href="#">{% trans 'Delete' %}!</a>
            {% endif %}
</form>
{% endblock %}