{% extends "inventory_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Inventory' %} {% trans 'Accounts' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_inventory_accounts" %}">{% trans 'Inventory' %} {% trans 'Accounts' %}</a></li>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-striped table-bordered">
        <thead>
        <th>{% anchor account_no _('Account No.') %}</th>
        <th>{% anchor name _('Name') %}</th>
        <th>{% anchor item__type _('Type') %}</th>
        <th>{% anchor item__unit _('Unit') %}</th>
        </thead>
        <tbody>
        {% for obj in paginated_objects %}
            <tr>
                <td class="link">
                    <a href="{% url 'view_inventory_account' obj.id %}">
                        {{ obj.account_no|localize }}
                    </a>
                </td>
                <td class="link">
                    <a href="{% url 'view_inventory_account' obj.id %}">
                        {{ obj.item.name }}
                    </a>
                </td>
                <td>
                    {{ obj.item.get_type_display }}
                </td>
                <td>{{ obj.item.unit }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}
    <br>
    <a class="btn btn-default btn-lg"
       href="{% url 'create_inventory_item' %}">{% trans 'New' %} {% trans 'Inventory' %} {% trans 'Item' %}</a>

{% endblock %}