{% extends "inventory_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Demand' %} {% trans 'Forms' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a></li>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-striped table-bordered">
        <thead>
        <th>{% anchor release_no _('Release No.') %}</th>
        <th>{% anchor demandee _('Demandee') %}</th>
        <th>{% anchor date _('Date') %}</th>
        <th>{% anchor purpose _('Purpose') %}</th>
        <th>{% anchor status _('Status') %}</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td>
                    <a href="{% url 'update_demand_form' item.id %}">{{ item.release_no|localize }}</a>
                </td>
                <td>
                    {{ item.demandee.full_name }}
                </td>

                <td>
                    {{ item.date|localize }}
                </td>
                <td>{{ item.purpose }}</td>
                <td>{{ item.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="btn btn-default btn0lg"
       href="{% url 'create_demand_form' %}">{% trans 'New' %} {% trans 'Demand Form' %}</a>

{% endblock %}