{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Quotation' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_quotation_forms' %}">{% trans 'Quotation' %} {% trans 'Reports' %}</a></li>
{% endblock %}

{% block content %}
<h1>Quotation Report List</h1>

<a class="btn btn-default btn-lg"
       href="{% url 'quotation_report' %}">{% trans 'New' %} {% trans 'Quotation' %} {% trans 'Comparison' %}</a>

{% endblock %}