{% extends "inventory_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Entry' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_entry_reports" %}">{% trans 'Entry' %} {% trans 'Reports' %}</a></li>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

       <table class="table table-striped table-bordered">
        <thead>
        <th>{% anchor entry_report_no _('Entry Report No.') %}</th>
        <th>{% trans 'Source' %}</th>
        <th>{% anchor date _('Date') %}</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td class="link">
                    <a href="{{ item.get_absolute_url }}">{{ item.entry_report_no|localize }}</a>
                </td>
                <td class="link">
                    {{ item.source|linkify }}
                </td>

                <td>
                    {{ item.source.date|localize }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

{% endblock %}