{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Quotation' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_quotation_forms' %}">{% trans 'Quotation' %} {% trans 'Comparisons' %}</a></li>
{% endblock %}

{% block content %}
<h1>{% trans 'Quotation' %} {% trans 'Comparisons' %}</h1>

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <a href="{% url "list_quotation_forms" %}">{% trans "Current Fiscal Year's" %} {% trans 'Quotation' %} {% trans 'Comparisons' %}</a>
    |
    <a href="{% url "list_quotation_forms" %}?year=all">{% trans 'All' %} {% trans 'Quotation' %} {% trans 'Comparisons' %}</a>
    {% get_fiscal_years as fiscal_years %}
    {% for fiscal_year in fiscal_years %}
        | <a href="{% url "list_quotation_forms" %}?year={{ fiscal_year.year }}">{{ fiscal_year }}</a>
    {% endfor %}
    <br/><br/>


    <table class="table table-striped table-bordered">
        <thead>
        <th>{% anchor report_no _('No.') %}</th>
        <th>{% anchor date _('Date') %}</th>
        <th>{% anchor fiscal_year _('Fiscal Year') %}</th>
        </thead>
        <tbody>
        {% for quotation_comparison in paginated_objects %}
            <tr>
                <td>
                    <a href="{% url 'detail_quotation_forms' quotation_comparison.pk %}">{{ quotation_comparison.report_no|localize }}</a>
                </td>
                <td>
                    <a href="{% url 'detail_quotation_forms' quotation_comparison.pk %}">{{ quotation_comparison.date|localize }}</a>
                </td>
                <td>
                    {{ quotation_comparison.fiscal_year|localize }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}


<a class="btn btn-default btn-lg"
       href="{% url 'quotation_report' %}">{% trans 'New' %} {% trans 'Quotation' %} {% trans 'Comparison' %}</a>

{% endblock %}