{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Quotation' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_quotation_forms' %}">{% trans 'Quotation' %} {% trans 'Reports' %}</a></li>
{% endblock %}

{% block content %}
<h1>Quotation Report List</h1>

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-striped table-bordered">
        <thead>
        <th>{% anchor release_no _('id') %}</th>
        <th>{% anchor demandee _('Fiscal Year') %}</th>
        </thead>
        <tbody>
        {% for quotation_comparison in paginated_objects %}
            <tr>
                <td>
                    <a href="{% url 'detail_quotation_forms' quotation_comparison.pk %}">{{ quotation_comparison.report_no }}</a>
                </td>
                <td>
                    {{ quotation_comparison.fiscal_year }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}


<a class="btn btn-default btn-lg"
       href="{% url 'quotation_report' %}">{% trans 'New' %} {% trans 'Quotation' %} {% trans 'Comparison' %}</a>

{% endblock %}