{% extends "inventory_base.html" %}
{% load i18n filters %}

{% block title %}{% trans 'Handovers' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_handovers" %}">{% trans 'Handovers' %}</a></li>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-striped table-bordered">
        <thead>
        <th>{% anchor voucher_no _('Form No.') %}</th>
        <th>{% anchor office _('Handed To/From') %}</th>
        <th>{% anchor type _('Type') %}</th>
        <th>{% anchor date _('Date') %}</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td>
                    <a href="{% url 'update_handover' item.id %}">{{ item.voucher_no|localize }}</a>
                </td>
                <td>
                    {{ item.office }}
                </td>
                <td>
                    {% trans item.type %}
                </td>
                <td>
                    {{ item.date|date:"Y-m-d" }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="btn btn-default btn-lg"
       href="{% url 'create_outgoing_handover' %}">{% trans 'New' %} {% trans 'Outgoing Handover' %}</a>

    <a class="btn btn-default btn-lg"
       href="{% url 'create_incoming_handover' %}">{% trans 'New' %} {% trans 'Incoming Handover' %}</a>

{% endblock %}