{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Quotation' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'list_quotation_forms' %}">{% trans 'Quotation' %} {% trans 'Comparisons' %}</a></li>
    <li><span> {% trans scenario %} {% trans 'Quotation Comparison' %}</span></li>
{% endblock %}

{% block head_end %}
    <script src="{% static 'js/inventory/quotation_comparison.js' %}"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}

    <div class="visible-print-block form-header">
        <h4 class="text-center">{% localize_header %}</h4>
        <h4 class="text-center">{% trans 'Quotation' %} {% trans 'Comparison' %} {% trans 'Report' %}</h4>
    </div>

    <form method="post" enctype="multipart/form-data" data-bind="submit: save" name="demand-form" novalidate>
        {% csrf_token %}
        <div class="well">
            <div class="pull-right">
                {% trans 'Date' %}: 
                <div class="form-inline inline">
                        <input class="form-control inline" type="text" required="required" name="date" id="id_date"
                                                   data-bind="value: date, localize: true">
                </div>
            </div>

            {% trans 'Report' %} {% trans 'No.' %}:
            <div class="form-inline inline">
                <input data-bind="value: report_no, localize: true" class="form-control width-auto input-inline">
            </div>
        </div>

        <div data-bind="with: table_view">
        <div class="well">
            <div class="row hidden-print">
                <div class="col-md-1">{% trans 'Party' %}:</div>
                <div class="col-md-3">
                    <select data-bind="selectize: $root.parties, value: $root.selected_party"
                        data-url="{% url 'create_party' %}" class="change-on-ready"></select>
                </div>
                <div class="col-md-8">
                    <button data-bind="click: $root.add_party"
                            class="btn btn-default btn-raised add_selected_party">  {% trans 'Add selected party for comparison' %}</button>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th rowspan='3'>{% trans 'SN' %}</th>
                    <th rowspan='3'>{% trans 'Item Name' %}</th>
                    <th rowspan='3'>{% trans 'Specification' %}</th>
                    <th rowspan='3'>{% trans 'Item Quantity' %}</th>
                    <th rowspan='3'>{% trans 'Estimated Cost' %}</th>
                </tr>
                <tr>
                    <!-- ko foreach: $root.parties_to_display -->
                    <th colspan='2'><span data-bind="text: name"></span> <span><a href="#" class="close tiny secondary hidden-print"
                                                                                  data-bind="click: $root.removeParty">x</a></span>
                    </th>
                    <!-- /ko -->
                </tr>
                <tr>
                    <!-- ko foreach: $root.parties_to_display -->
                    <th>{% trans "Per Unit Price" %}</th>
                    <th>{% trans "Total Price" %}</th>
                    <!-- /ko -->
                    <th rowspan='3'>{% trans "Remarks" %}</th>
                </tr>

                </thead>
                <tbody>
                <!-- ko foreach: rows -->

                <tr>
                    <td>
                        <span data-bind="text:  $index()+1, localize: true"> </span>
                    </td>
                    <td>
                        <select data-bind="selectize: $root.items, value: item_id, event: {change: $root.item_changed}"
                                data-url="{% url 'create_inventory_item' %}"
                                data-script="/static/js/inventory/item.js"></select>
                    </td>
                    <td data-bind="editableText: specification"></td>
                    <td data-bind="editableText: quantity, numeric: true, localize: true"></td>
                    <td data-bind="editableText: estimated_cost, numeric: true, localize: true"></td>
                    <!-- ko foreach: bidder_quote -->
                    <td data-bind="editableText: per_unit_price, numeric: true, localize: true"></td>
                    <td data-bind="text: total($parent.quantity), localize: true"></td>
                    <!-- /ko -->
                    <td data-bind="editableText: remarks"></td>
                    <td class="hidden-print">
                        <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                    </td>

                </tr>
                <!-- /ko -->

                </tbody>

            </table>
            <a class="btn btn-default btn-raised hidden-p" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
            </div>
        </div>
        <input class="btn btn-info btn-raised btn-lg" type="submit" value="Save">
        {% if scenario == 'Update' %}
            <a class="btn btn-info btn-raised btn-lg"
               href="{% url 'quotation_comparison_as_pdf' quotation.id %}">{% trans 'Export as PDF' %}</a>
            <a class="btn btn-danger btn-raised btn-lg"
               href="{% url 'delete_quotation_comparison' quotation.id %}">{% trans 'Delete!' %}</a>
        {% endif %}

    </form>

{% endblock %}