{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block content %}
<form action="" method="POST">
	{% csrf_token %}
</form>

        <table class="table table-bordered"> 
        <thead>
            <tr>
                <th rowspan='2'>{% trans 'SN' %}</th>
                <th rowspan='2'>{% trans 'Date' %}</th>
                <th rowspan='2'>{% trans 'Inventory Account Page No.' %}</th>
                <th rowspan="2">{% trans "Item's Name" %}</th>
                <th rowspan="2">{% trans 'Inventory Classification Reference No.' %}</th>
                <th colspan='4'>{% trans "Inventory account according to Journal" %}</th>
                <th rowspan="2">{% trans "Status" %}</th>
            </tr>
            <tr>
                <th>{% trans "Unit" %}</th>
                <th>{% trans "Debit Amount" %}</th>
                <th>{% trans "Credit Amount" %}</th>
                <th>{% trans "Rate" %}</th>
            </tr>
        </thead>
        <tbody>
		{% for o in objects %}
            <tr>
                <td> sn </td>
                <td>{{ o.journal_entry.date }}</td>
                <td>{{ o.account.account_no }}</td>
                <td>{{ o.account.item.name }}</td>
                <td>{{ o.account.item.property_classification_reference_number }}</td>
                <td>{{ o.account.item.unit }}</td>
                <td>{{ o.dr_amount }}</td>
                <td>{{ o.cr_amount }}</td>
                <td>{{ o.journal_entry.creator.rate }}</td>
				<td>
					{% if o.dr_amount == None %}
						<span style="color: Red">Release</span>
					{% else %}
						<span style="color: blue">Entry</span>
					{% endif %}
				</td>
            </tr>
		{% endfor %}
        </tbody>
        </table>

{% endblock %}