{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'User' %} {% trans 'Ledger' %}: {{ user }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'user_ledger_list' %}">{% trans 'User' %} {% trans 'Ledgers' %}</a></li>
    <li><span>{{ user }}</span></li>
{% endblock %}

{% block content %}
    <h1>{% trans 'User' %} {% trans 'Ledger' %}: {{ user }}</h1>

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    <h3>{% trans 'Non-consumable' %} {% trans 'Items' %}</h3>

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Items' %}</th>
            <td>{{ non_consumable_all_instances.count }}</td>
        </tr>
        <tr>
            <th>{% trans 'Distinct' %} {% trans 'Items' %}</th>
            <td> {{ non_consumable_instances.count }}</td>
        </tr>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Worth' %}</th>
            <td> {{ non_consumable_grand_total }}</td>
        </tr>
        </tbody>

    </table>

    <h4>{% trans 'Items' %}</h4>

    {% autopaginate non_consumable_instances 25 as paginated_non_consumable_instances %}

    <table class="table table-striped table-bordered">
        <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Total' %} {% trans 'Count' %}</th>
        <th>{% trans 'Worth' %}</th>
        </thead>
        <tbody>
        {% for instance in paginated_non_consumable_instances %}
            <tr>
                <td>
                    <a href="{% url 'update_inventory_item' instance.item %}">{{ instance.item__name }}</a>
                </td>
                <td>{{ instance.total_count }}</td>
                <td>{{ instance.total_value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <h4>{% trans 'Instances' %}</h4>

    {% autopaginate non_consumable_all_instances 25 as paginated_non_consumable_all_instances %}

    <table class="table table-striped table-bordered">
        <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Rate' %}</th>
        <th></th>
        </thead>
        <tbody>
        {% for instance in paginated_non_consumable_all_instances %}
            <tr>
                <td>
                    <a href="{% url 'iteminstance_history' instance.id %}">{{ instance.item }}</a>
                </td>
                <td>{{ instance.item_rate }}</td>
                <td>
                    <a class="btn btn-danger"
                       href="{% url 'return_to_store' instance.id %}?next={% url 'user_ledger_detail' user.id %}">{% trans 'Return to Store' %}</a>
                    <a class="btn btn-primary"
                       href="{% url 'iteminstance_expense' instance.id %}?next={% url 'user_ledger_detail' user.id %}">{% trans 'Expense' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <h1>{% trans 'Consumable' %}</h1>

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Items' %}</th>
            <td>{{ consumable_all_instances.count }}</td>
        </tr>
        <tr>
            <th>{% trans 'Distinct' %} {% trans 'Items' %}</th>
            <td> {{ consumable_instances.count }}</td>
        </tr>
        <tr>
            <th>{% trans 'Total' %} {% trans 'Worth' %}</th>
            <td> {{ consumable_grand_total }}</td>
        </tr>
        </tbody>

    </table>

    {% autopaginate consumable_instances 25 as paginated_consumable_instances %}

    <table class="table table-striped table-bordered">
        <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Total' %} {% trans 'Count' %}</th>
        <th>{% trans 'Worth' %}</th>
        </thead>
        <tbody>
        {% for instance in paginated_consumable_instances %}
            <tr>
                <td>
                    <a href="{% url 'update_inventory_item' instance.item %}">{{ instance.item__name }}</a>
                </td>
                <td>{{ instance.total_count }}</td>
                <td>{{ instance.total_value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

{% endblock %}