{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Yearly' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'yearly_report_list' %}">{% trans 'Yearly' %} {% trans 'Reports' %}</a></li>
{% endblock %}


{% block content %}
<div class="form-header text-center visible-print-block">
    <h4 class="text-center">{{ 'core.models.app_setting.header_for_forms'|setting|linebreaks }}</h4>
</div>

 <h1 class='center'>Yearly Report Detail</h1>
    <h4>Fiscal Year: {{ obj.fiscal_year }} </h4>
    {% if obj.report_no %}
    <h4>Report no : {{ obj.report_no }}</h4>
    {% else %}
    {% endif %}

     <table class="table table-striped table-bordered"> 
        <thead>
            <tr>
                <th rowspan='2'>{% trans 'SN' %}</th>
                <th rowspan='2'>{% trans 'Inventory Account Page No.' %}</th>
                <th rowspan="2">{% trans 'Inventory Classification Reference No.' %}</th>
                <th rowspan="2">{% trans "Item's Name" %}</th>
                <th colspan='3'>{% trans "Stock Details" %}</th>
                <th rowspan='2'>{% trans "Remarks" %}</th>
            </tr>
            <tr>
                <th>{% trans "Income" %}</th>
                <th>{% trans "Expense" %}</th>
                <th>{% trans "Remaining" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for o in rows %}
            <tr>
                <td>{{ o.sn|localize }}</td>
                <td>{{ o.account_no|localize }}</td>
                <td>{{ o.property_classification_reference_number|localize }}</td>
                <td>{{ o.item_name }}</td>
                <td>{{ o.income|floatformat:2 |localize }}</td>
                <td>{{ o.expense|floatformat:2 |localize }}</td>
                <td>{{ o.remaining|floatformat:2 |localize }}</td>
                <td>{{ o.remarks|default:'' }}</td>
        {% endfor %}
        </tbody>
        </table>
    <a class="btn btn-danger btn-lg" href="{% url 'delete_yearly_report' obj.id %}">{% trans 'Delete!' %}</a>

{% endblock %}
  
