{% extends "inventory_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block title %}{% trans 'Yearly' %} {% trans 'Reports' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'yearly_report_list' %}">{% trans 'Yearly' %} {% trans 'Reports' %}</a>
{% endblock %}

{% block head_end %}
    <script src="{% static 'js/inventory/yearly_report.js' %}"></script>
    <script>
        ko_data = {{ data| jsonify}};
    </script>
{% endblock %}

{% block content %}
    <h1 class='center'>Yearly Report</h1>
    <h4>Release no:<input data-bind="value: release_no"></h4>
    <form method="POST" data-bind="submit: save">
    {% csrf_token %}
        <div data-bind="with: table_view">
        <table class="table table-bordered"> 
        <thead>
            <tr>
                <th rowspan='2'>{% trans 'SN' %}</th>
                <th rowspan='2'>{% trans 'Inventory Account Page No.' %}</th>
                <th rowspan="2">{% trans 'Inventory Classification Reference No.' %}</th>
                <th rowspan="2">{% trans "Item's Name" %}</th>
                <th colspan='3'>{% trans "Inventory Details" %}</th>
                <th rowspan='2'>{% trans "Remark" %}</th>
            </tr>
            <tr>
                <th>{% trans "Income" %}</th>
                <th>{% trans "Expense" %}</th>
                <th>{% trans "Remaining" %}</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: rows -->
            <tr>
                <td data-bind="text: $index()+1, localize: true"></td>

                <td data-bind="text: account_no"></td>
                <td data-bind="text: inventory_classification_reference_no"></td>
                <td data-bind="text: item_name" class="item_name"></td>
                <td data-bind="text: total_dr_amount"></td>
                <td data-bind="text: expense"></td>
                <td data-bind="text: current_balance"></td>
                <td data-bind="editableText: remarks"></td>
            </tr>
            <!-- /ko -->

        </tbody>
        </table>
        </div>
        <input class="button" type="submit" value="Save">
    </form>
{% endblock %}
  
