{% extends base_template %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Category' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'category_list' %}">{% trans 'Categories' %}</a>
    <li>{{ scenario }} {{ form.instance }}</li>
{% endblock %}

{% block content %}

    <form method="post" id='form'>

        <div class="well">
            {% csrf_token %}
            {{ form.as_p }}
        </div>

        <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}">

        {% if form.instance.id %}
            <a href="{% url 'category_delete' form.instance.id %}" class="btn btn-danger btn-raised">{% trans 'Delete' %}</a>
        {% endif %}
    </form>

{% endblock %}
