{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load filters %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block head_end %}
    <script src="{% static 'js/vendors/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}


{% block breadcrumbs %}
    <a href="#">{% trans 'Home' %}</a>
{% endblock %}

{% block content %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            {% ifappexists inventory %}
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#inventory" aria-expanded="true">
                    <h4 class="panel-title">
                        <a>{% trans 'Inventory' %}</a>
                    </h4>
                </div>
                <div id="inventory" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% include '_dashboard_inventory.html' %}
                    </div>
                </div>
            {% endifappexists %}
        </div>

        <div class="panel panel-default">
            {% ifappexists training %}
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#training" aria-expanded="false">
                    <h4 class="panel-title">
                        <a>{% trans 'Training' %}</a>
                    </h4>
                </div>
                <div id="training" class="panel-collapse collapse">
                    <div class="panel-body dashboard">
                        {% ifusergroup 'Trainer' %}
                            <div>
                                <a href="{% url 'list_trainings' %}">
                                    <img src="{% static 'img/icons/training.png' %}">
                                    <b>{% trans "Trainings" %}</b>
                                </a>
                            </div>

                            <div>
                                <a href="{% url 'list_resource_persons' %}">
                                    <img src="{% static 'img/icons/trainer.png' %}">
                                    {% trans "Resource Persons" %}
                                </a>
                            </div>

                            <div>
                                <a href="{% url 'list_participants' %}">
                                    <img src="{% static 'img/icons/students.png' %}">
                                    {% trans "Participants" %}
                                </a>
                            </div>
                            <div>
                                <a href="{% url 'list_organizations' %}">
                                    <img src="{% static 'img/icons/organization.png' %}">
                                    {% trans "Organizations" %}
                                </a>
                            </div>


                            <div>
                                <a href="{% url 'list_files' %}">
                                    <img src="{% static 'img/icons/file.png' %}">
                                    {% trans "Files" %}
                                </a>
                            </div>

                            <div>
                                <a href="{% url 'list_training_categories' %}">
                                    <img src="{% static 'img/icons/category.png' %}">
                                    {% trans "Categories" %}
                                </a>
                            </div>
                            <div>
                                <a href="{% url 'list_target_groups' %}">
                                    <img src="{% static 'img/icons/target.png' %}">
                                    {% trans "Target Groups" %}
                                </a>
                            </div>
                        {% else %}
                            <div>
                                <a href="{% url 'add_participant' %}">
                                    <img src="{% static 'img/icons/students.png' %}">
                                    {% trans "Register" %}
                                </a>
                            </div>
                        {% endifusergroup %}
                    </div>
                </div>
            {% endifappexists %}
        </div>

        <div class="panel panel-default">
            {% ifappexists ils %}
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#library">
                    <h4 class="panel-title">
                        <a>{% trans 'Library' %}</a>
                    </h4>
                </div>
                <div id="library" class="panel-collapse collapse">
                    <div class="panel-body dashboard">
                        <div>
                            <a href="{% url 'list_records' %}">
                                <img src="{% static 'img/icons/book.png' %}">
                                {% trans "Books" %}
                            </a>
                        </div>
                        {% ifusergroup 'Librarian' %}
                            <div>
                                <a href="{% url 'list_patrons' %}">
                                    <img src="{% static 'img/icons/user.png' %}">
                                    {% trans "Patrons" %}
                                </a>
                            </div>
                        {% endifusergroup %}
                        <div>
                            <a href="{% url 'list_authors' %}">
                                <img src="{% static 'img/icons/write.png' %}">
                                {% trans "Authors" %}
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'list_publishers' %}">
                                <img src="{% static 'img/icons/print.png' %}">
                                {% trans "Publishers" %}
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'list_ebooks' %}">
                                <img src="{% static 'img/icons/ebook.png' %}" width="150px" height="150px">
                                {% trans "Ebooks" %}
                            </a>
                        </div>

                        {% ifusergroup 'Librarian' %}
                            <div>
                                <a href="{% url 'list_transactions' %}">
                                    <img src="{% static 'img/icons/import.png' %}">
                                    {% trans "Transactions" %}
                                </a>
                            </div>

                            <div>
                                <a href="{% url 'acq' %}">
                                    <img src="{% static 'img/icons/download.png' %}">
                                    {% trans "Acquisition" %}
                                </a>
                            </div>
                            <div>
                                <a href="{% url 'outgoing' %}">
                                    <img src="{% static 'img/icons/export.png' %}">
                                    {% trans "Checkout" %}
                                </a>
                            </div>
                        {% endifusergroup %}
                    </div>

                    <form action="{% url 'isbn_to_record' %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="ISBN" name="isbn">
                    </form>
                    <br>

                    <form method="get" action="{% url 'search' %}">

                        <input type="text" name="q" class="form-control" id="id_q" placeholder="Search">

                        {{ form.models }}

                        {#            {{ form.as_p }}#}

                        <input type="submit" value="Search!" class="btn btn-primary">
                    </form>
                    <br>
                </div>
            {% endifappexists %}
        </div>

    </div>

{% endblock %}